@using Stolons.ViewModels.Chat

@model ChatMessageListViewModel

<div>
    <div id="chat" class="row chat">
        <div class="comment hidden"></div>
    </div>
    <div class="row chat-add-comment">
        <textarea id="add-comment" name="comment" placeholder="Votre message"></textarea>
        <a href="#" id="add-comment" class="btn btn-small btn-default pull-right">Ajouter un commentaire</a>
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden" id="loading"></span>
    </div>

    <script id="chatMessageTemplate" type="text/template">
        <div class="row comment" id='<%= message.Id%>' data-date='<%= message.DateOfPublication%> <%= message.DateOfPublication.Millisecond%>'>
            <div class="col-lg-2 col-xs-3">
                <img src='<%= message.PublishBy.Adherent.AvatarFilePath%>' />
                <% if (activeAdherentStolon.Role === 3 || activeAdherentStolon.Id == message.PublishBy.Id || activeAdherentStolon.Adherent.IsWebAdmin) { %>
                <a href="#" class="removeMessage" onclick='removeMessage("<%= message.Id%>")'><span class="glyphicon glyphicon-remove-circle"></span></a>
                <a href="#" class="editMessage" onclick='editMessage("<%= message.Id%>")'><span class="glyphicon glyphicon-edit"></span></a>
                <% } %>
            </div>
            <div class="col-lg-10 col-xs-9 messageContent">
                <%= message.Content%>
            </div>
            <div class="col-lg-12 text-right date"><%= message.StringPublishBy%></div>
        </div>
    </script>
</div>

<script src="~/js/chatScript.js"></script>