<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Stolons.ViewModels;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Stolons</title>

    <link rel="stylesheet" href="~/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-addon/jquery-ui-timepicker-addon.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/underscore-min.js"></script>
    <script src="~/lib/backbone-min.js"></script>
    <script src="~/lib/select2.full.min.js"></script>
    <!-- <script src="~/js/formValidation.js"></script> -->
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-ui/ui/i18n/datepicker-fr.js"></script>
    <script src="~/lib/jquery-ui-addon/jquery-ui-timepicker-addon.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootbox.min.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Jquery dotnetcore js Validation -->
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div id="wrapper">
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("Banner")
        }
        <div class="buddy container body-content">
            @RenderBody()
        </div>
	<!-- Include the footer partial -->
	@{ await Html.RenderPartialAsync("Footer"); }
    </div>

    <div class="modal fade" id="bodyAndFooterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-bodyAndFooter">

                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
