@using System.Security.Claims
@using Stolons.Models.Users

@model Stolons.ViewModels.Banner.BannerViewModel

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="bannerAccount">

        <div id="stols" class="banner-stols-container">
            <div class="warning-container ">
                @(Model.ActiveAdherentStolon.Token) <b>Ṩ</b>
                <div class="warning-informations right">
                    Votre portemonnaie virtuel de Ṩ (Stols) vous permet de créditer <br />par avance votre compte en euros auprès de votre Stolon.<br /> Vous avez ensuite la possibilité de régler vos<br /> factures en ligne en utilisant vos Ṩ (Stols).
                </div>
            </div>
        </div>



        @{
            if (Model.ActiveAdherentStolon.Stolon.UseSubscipstion && !Model.ActiveAdherentStolon.SubscriptionPaid)
            {
                <div class="pull-left">
                    <div class="warning-container">
                        <img class="warning" src="/images/warning.png" />
                        <div class="warning-informations">
                            Cotisation non payée, <br />penser à la régler à la prochaine commande
                        </div>
                    </div>
                </div>
            }
        }



        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="bannerAvatar">
                <img class="avatar" src="@Model.ActiveAdherentStolon.Adherent.AvatarFilePath" />
            </div>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Manage" asp-action="Index" title="Manage">Mon compte</a></li>
            <li><a asp-controller="Orders" asp-action="Index">Mes commandes</a></li>
            @if (Model.ActiveAdherentStolon.Adherent.AdherentStolons.Any(x => x.IsProducer))
            {
                <li><a asp-controller="Bills" asp-action="Index">Mes factures</a></li>
            }
            <li>
                <a href="#" onclick="document.forms['logoutForm'].submit();return false;">Déconnexion</a>
                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
            </li>
        </ul>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
}
