@using System.Security.Claims
@using Stolons.Models.Users

@model Stolons.ViewModels.Banner.BannerViewModel

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
}
