@using System.Security.Claims
@using Stolons.Models.Users

@model Stolons.ViewModels.Banner.BannerViewModel

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="bannerAccount">
        @{
            if (Model.ActiveAdherentStolon.Stolon.UseSubscipstion && !Model.ActiveAdherentStolon.SubscriptionPaid)
            {
                <div id="warning-container">
                    <img id="warning" src="/images/warning.png" />
                    <div id="warning-informations">
                        Cotisation non payée, penser à la régler à la prochaine commande
                    </div>
                </div>
            }
        }
        <div id="bogues">@(Model.ActiveAdherentStolon.Token) 𝞫</div>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="bannerAvatar">
                <img class="avatar" src="@Model.ActiveAdherentStolon.Adherent.AvatarFilePath" />
            </div>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Manage" asp-action="Index" title="Manage">Mon compte</a></li>
            <li><a asp-controller="Orders" asp-action="Index">Mes commandes</a></li>
            @if (Model.ActiveAdherentStolon.Adherent.AdherentStolons.Any(x=>x.IsProducer))
            {
                <li><a asp-controller="Bills" asp-action="Index">Mes factures</a></li>
            }
            <li>
                <a href="#" onclick="document.forms['logoutForm'].submit();return false;">Déconnexion</a>
                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
            </li>
        </ul>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
}
<script>
    $(function () {
        $('img#warning').hover(function () {
            $('div#warning-informations').show();
            $(this).mouseout(function () {
                $('div#warning-informations').fadeOut('fast');
            });
        });
    });
</script>
