@model AdherentStolon

@{
    ViewData["Title"] = "Bienvenue "+ Model.Adherent.Surname +" "+ Model.Adherent.Name +" chez " + Model.Stolon.Label;
}

<h2>@ViewData["Title"]</h2>
<h3>Votre compte vient d'être créé, retrouvez dès maintenant les produits locaux de nos producteurs sur <a href="@Configurations.Application.StolonsUrl"></a> @Configurations.Application.StolonsUrl</h3>

@Html.Partial("Templates/RememberCredentialTemplate")
