<div id="footer">
    <footer>
	<hr />
        <div class="text-center">
            <font size="1">
                <p><a asp-controller="LegalInformation" asp-action="Index">Informations légales</a></p>
                <p>&copy; 2017 - Projet Stolons  <a href="https://github.com/ChavFDG/Stolons"><img height="12" width="12" src="~/images/gitHubLogo.png" class="responsiveImage" /></a></p>                
            </font>                
        </div>
    </footer>
</div>
