@using Stolons.ViewModels.PublicProducers
@model PublicProducersViewModel

<link rel="stylesheet" href="~/css/leaflet.css" />

<div class="row producersListAndMapContainer">

    <div class="col-lg-4 producersList">
        <table class="table">
            @foreach (var producer in Model.Producers.OrderBy(x => x.Adherent.CompanyName))
            {
                <tr>
                    <td>
                        <div class="public_Prod_avatar">
                            <img src="@Configurations.GetUrl(producer.Adherent.AvatarFilePath)" class="avatar" />
                        </div>
                    </td>
                    <td>
                        <a href="#" onclick="ProducerDetailsView.selectProducer('@producer.Id')" title="Voir les détails du producteur">
                            <span class="public_Prod_CompanyName">@Html.DisplayFor(modelItem => producer.Adherent.CompanyName)</span>
                        </a>
                        <p>
                            <span class="public_Prod_Production"> @Html.DisplayFor(modelItem => producer.Adherent.Production)</span>
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-8 producersMapContainer">
        <div id="map" class="producersMapFull row">
        </div>
        <!-- placeholder for js-generated producer details -->
        <div id="producerDetails" class="producerDetails hidden row">
        </div>
    </div>
</div>

<script>

    function closeProducerDetail() {
        $('#producerDetails').toggleClass('hidden', true);
        $('#map').toggleClass('producersMapHalf', false);
        $('#map').toggleClass('producersMapFull', true);
    }
</script>

<script id="producerDetailsTemplate" type="text/template">
    <div class="producerDetailsContainer">
        <div class="row">
            <button  class="close" data-dismiss="modal" aria-label="Close" onclick="closeProducerDetail()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <div class="public_Prod_avatar_Detail">
                    <img src="<%= producer.Adherent.AvatarFilePath %>" class="avatar" />
                </div>
            </div>
            <div class="col-lg-4">
                <span class="producerDetailsTitle"><%= producer.Adherent.CompanyName %></span>
                <br />
                <span class="producerDetailsName"><%= producer.Adherent.Name %> <%= producer.Adherent.Surname %> </span>
            </div>
            <div class="col-lg-7">
                <div class="producerInfoList">
                    <% if (!_.isEmpty(producer.Adherent.Adress)) { %>
                    <label>Adresse: </label>
                    <span><%= producer.Adherent.Adress %></span>
                    <br>
                    <% } %>
                    <% if (!_.isEmpty(producer.Adherent.Area) || producer.Adherent.Area != 0) { %>

                    <label>Superficie de production: </label>
                    <span><%= producer.Adherent.Area %> ha </span>
                    <br>
                    <% } %>
                    <% if (producer.Adherent.Production) { %>

                    <label>Production: </label>
                    <span><%= producer.Adherent.Production %></span>
                    <br>
                    <% } %>
                    <% if (!_.isEmpty(producer.Adherent.StartDate) || producer.Adherent.StartDate != 0) { %>

                    <label>Année d'installation: </label>
                    <span><%= producer.Adherent.StartDate %></span>
                    <br>
                    <% } %>
                    <% if (producer.Adherent.WebSiteLink) { %>
                    <label>Site web: </label>
                    <a href="<%= producer.Adherent.WebSiteLink %>" target="_blank"><%= producer.Adherent.WebSiteLink %></a>
                    <br>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row producerOpenTextContainer">
            <% if (producer.Adherent.OpenText) { %>
            <label class="producerOpenTextTile">Le mot du producteur :</label>
            <p class="producerOpenText">
                "<%= producer.Adherent.OpenText %>"
            </p>
            <% } %>
        </div>
    </div>
</script>
