@model Stolons.ViewModels.Users.UserStolonViewModel

@{
    ViewData["Title"] = "Edition de " + Model.Consumer.Surname + " " + Model.Consumer.Name;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input asp-for="Consumer.Id" hidden="hidden" />
        <input asp-for="OriginalEmail" hidden="hidden" />
        <div class="form-group">
            <label asp-for="Consumer.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.Name" class="form-control" />
                <span asp-validation-for="Consumer.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.Surname" class="form-control" />
                <span asp-validation-for="Consumer.Surname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.Avatar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" accept="image/*" name="uploadFile" class="form-control" />
            </div>
        </div>
        <input asp-for="Consumer.Avatar" hidden="hidden" />
        <div class="form-group">
            <label asp-for="Consumer.Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.Email" class="form-control" />
                <span asp-validation-for="Consumer.Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Consumer.PhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.Address" class="form-control" />
                <span asp-validation-for="Consumer.Address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.PostCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.PostCode" class="form-control" />
                <span asp-validation-for="Consumer.PostCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Consumer.City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Consumer.City" class="form-control" />
                <span asp-validation-for="Consumer.City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Consumer.Cotisation" />
                    <label asp-for="Consumer.Cotisation"></label>
                </div>
            </div>
        </div>
	@if (User.IsInRole(Configurations.Role.Administrator.ToString()))
	{
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
              <input asp-for="Consumer.Enable" />
              <label asp-for="Consumer.Enable"></label>
            </div>
          </div>
        </div>
	}
        <div class="form-group">
            <label asp-for="UserRole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
	      <select id="UserRole" class="form-control valid" name="UserRole" data-val-required="The Droit utilisateur field is required." data-val="true" aria-required="true" aria-invalid="false" aria-describedby="UserRole-error">
		@if (Model.UserRole == Configurations.Role.User) {
		   <option value="1" selected> Adhérent </option>
		}
		else
		{
		   <option value="1"> Adhérent </option>
		}
		@if (Model.UserRole == Configurations.Role.Volunteer)
		{
		   <option value="2" selected> Bénévole </option>
		}
		else
		{
		   <option value="2"> Bénévole </option>
		}
		@if (User.IsInRole(Configurations.Role.Administrator.ToString()))
		{
		   @if (Model.UserRole == Configurations.Role.Administrator)
		   {
		      <option value="3" selected>Administrateur</option>
		   }
		   else
		   {
		      <option value="3">Administrateur</option>
		   }
		}
	      </select>
              <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
        </div>
        <input asp-for="Consumer.RegistrationDate" hidden="hidden" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifier" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retourner aux adhérents</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
