@model TransactionViewModel
@using Stolons.ViewModels.Transactions

<h2>Créer une nouvelle transaction</h2>

<form asp-action="Create">
    <div class="form-group">
        @Html.Partial("Templates/EditTransaction")
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Créer" class="btn btn-small btn-default" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
