@model TransactionViewModel
@using Stolons.ViewModels.Transactions

<h3>Etes vous sur de vouloir supprimer la transaction du @Model.Transaction.Date ?</h3>

<div>
    @Html.Partial("Templates/DetailsTransaction", @Model)
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    </form>
</div>
