@model TransactionViewModel
@using Stolons.ViewModels.Transactions

<h2>Edition de la transaction du @Model.Transaction.Date</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        @Html.Partial("Templates/EditTransaction")      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder les modifications" class="btn btn-small btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
