
<h2>Gestion des paniers</h2>

<a asp-controller="WeekBasketManagement" asp-action="WeekBaskets">Paniers de la semaine</a>
<br />
<a asp-controller="WeekBasketManagement" asp-action="History">Historique</a>

