
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ForgotPasswordViewModel

@{
   ViewData["Title"] = "Ré-initialisation du mot de passe";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
  <div class="col-md-8">
    <section>
      <div>
	<p>Vous avez oublié votre mot de passe ? Pas de panique, ca arrive à tout le monde!</p>
	<p>Pour pouvoir vous connecter à nouveau, rien de plus simple:</p>
	<p>Renseignez votre adresse email ci-dessous et un email vous sera envoyé contenant un lien pour pouvoir changer de mot de passe.</p>
      </div>
      <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
        <hr />
        <div class="form-group">
          <label asp-for="Email" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Email" class="form-control" data-val-required="L'adresse email est requise." data-val-email="L'adresse email doit être valide." />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>
	<span asp-validation-summary="All" class="text-danger"></span>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-small btn-default">Envoyer</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

