@{
   ViewData["Title"] = "Ré-initialisation du mot de passe";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
  <div class="col-md-8">
    <p>
      Un e-mail vous a été envoyé et arrivera d'ici quelques instants.
    </p>
    <p>
      Si l'e-mail tarde à arriver, vérifiez l'adresse mail d'envoi, ou bien verifiez vos spams!
    </p>
  </div>
</div>
