@{
    ViewData["Title"] = "Réinitialisation du mot de passe réussie";
}

<h2>@ViewData["Title"]</h2>

<div>
  <p>Votre mot de passe a été correctement changé. </p>
  <p>Vous pouvez maintenant <a href="/Account/Login">vous identifier</a></p>
</div>
