@using Stolons.Models.Users;
@using Stolons.Models.Messages;
@using Stolons.ViewModels.News
@model NewsViewModel


<script>
    function resizeImageToSpecificWidth(width) {
        var input = document.getElementById('newsImage');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    var oc = document.createElement('canvas'), octx = oc.getContext('2d');
                    oc.width = img.width;
                    oc.height = img.height;
                    octx.drawImage(img, 0, 0);
                    while (oc.width * 0.5 > width) {
                        oc.width *= 0.5;
                        oc.height *= 0.5;
                        octx.drawImage(oc, 0, 0, oc.width, oc.height);
                    }
                    oc.width = width;
                    oc.height = oc.width * img.height / img.width;
                    octx.drawImage(img, 0, 0, oc.width, oc.height);

                    document.getElementById('image1Preview').src = oc.toDataURL();

                    $('input[name=uploadNewsImage]').val(oc.toDataURL());
                };
                img.src = event.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    $(document).ready(function () {
        var input = document.getElementById('newsImage');
        input.onclick = function () {
            this.value = null;
        };

        input.onchange = function () {
            resizeImageToSpecificWidth(600);
        };


    });
</script>

<div class="form-horizontal">
    <hr />
    <input asp-for="News.Id" hidden="hidden" />
    <input asp-for="News.DateOfPublication" hidden="hidden" />
    <input asp-for="News.ImageName" hidden="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="News.Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="News.Title" class="form-control" />
            <span asp-validation-for="News.Title" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="News.PublishAs" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select id="News.PublishAs" class="form-control valid" name="News.PublishAs" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="UserRole-error">
                @if (Model.News.PublishBy.IsProducer)
                {
                    <option value="0">Producteur</option>
                }
                @if (Model.ActiveAdherentStolon.Authorized(Role.Volunteer))
                {
                    <option value="1">Stolon</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="News.IsHighlight" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="News.IsHighlight" class="form-control" />
            <span asp-validation-for="News.IsHighlight" class="text-danger" />
        </div>
    </div>
    <div class="form-group" id="News.PublishStart">
        <label asp-for="News.PublishStart" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="News.PublishStart" class="form-control" id="InputPublishStart" />
            <span asp-validation-for="News.PublishStart" class="text-danger" />
        </div>
    </div>
    <div class="form-group" id="News.PublishEnd">
        <label asp-for="News.PublishEnd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="News.PublishEnd" class="form-control" id="InputPublishEnd" />
            <span asp-validation-for="News.PublishEnd" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="News.Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea rows="5" asp-for="News.Content" class="form-control"></textarea>
            <span asp-validation-for="News.Content" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="News.ImageName" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input id="newsImage" type="file" accept="image/*" class="form-control" />
            <input type="hidden" name="uploadNewsImage" />
        </div>
        <div class="col-md-4">
            @{
                if (String.IsNullOrWhiteSpace(Model.News.ImageName))
                {
                    <img id="image1Preview" alt="Pas d'image" class="imgPreview" />
                }
                else
                {
                    <img id="image1Preview" src="@(Configurations.GetUrl(Model.News.ImageLink))" class="imgPreview" />
                }
            }
        </div>
    </div>
</div>