<script id="productModalTemplate" type="text/template">
    <div id="productModal-<%= product.Id %>" class="modals">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">×</span>
		    </button>
		    <h4 class="modal-title"><%= product.Name %></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="productModal-info" class="col-md-12">
                            <ul>
                                Type de vente:
                                <b>
                                    <%= productStockModel.getSellTypeString() %>
                                </b>
                                <li>
                                    Stock restant:
                                    <b>
					<% if (product.StockManagement === 2) { %>
					  Illimité
					<% } else { %>
                                           <%= productStockModel.getRemainingQuantityStock() %>
					   <%= productStockModel.getStockUnitString() %>
					<% } %>
                                    </b>
                                </li>
                                <li class="productModal-pricing">
                                    Prix:
                                    <b>
                                        <%= productStockModel.getUnitPriceString() %>
                                        <%= productStockModel.getVolumePriceString() %>
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div id="productModal-img" class="pr_img">
                            <img src="<%= productModel.getPictureUrl('heavy') %>" />
                        </div>
                        <div>
                            <% _.forEach(product.LabelsSerialized.split(';'), function(label) {
                            if (!_.isEmpty(label)) {
                            %>
                            <div class="pr_label">
                                <img src="/images/labels/<%= label %>.jpg" />
                            </div>
                            <% } }); %>
                        </div>
                    </div>
                    <div id="productModal-desc">
                        Description: <b><%= product.Description %></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
