<script id="publicProductTemplate" type="text/template">
    <%
        var producerSellerTypeText;
        switch (product.Producer.SellerType) {
            case 0: producerSellerTypeText = 'Producteur';break
            case 1: producerSellerTypeText = 'Transformateur';break
            case 2: producerSellerTypeText = 'Distributeur';break
        }
    %>
      <div class="publicProduct <%= producerSellerTypeText %>">
        <div class="product__producer__type">
            <%= producerSellerTypeText %>
        </div>
        <div class="product-top">
          <div class="pr_img" data-toggle="tooltip">
              <img src="<%= productModel.getPictureUrl('light') %>" />
          </div>
          <div class="pr_labels">
	    <% _.forEach(product.LabelsSerialized.split(';'), function(label) {
	       if (!_.isEmpty(label)) {
	       %>
	    <div class="pr_label">
              <img src="/images/labels/<%= label %>.jpg" />
	    </div>
	    <% } }); %>
          </div>
        </div>
        <div class="product-bottom">
          <div class="pr_text">
	    <div class="pr_name">
              <%= product.Name %>
	    </div>
	    <div class="pr_qtystock">
              <span class="pr_priceQuantity">
	        <%= productStockModel.getUnitPriceString() %>
	        <%= productStockModel.getVolumePriceString() %>
              </span>
	    </div>
          </div>
        </div>
        <div class="product__producer" title="<%= product.Producer.CompanyName %>">
            <div class="product__producer__avatar" data-toggle="tooltip" title="Voir détails producteur">
                <a href="#">
                    <img class="avatar" src="<%= productModel.get('Producer').AvatarFilePath %>" />
                </a>
            </div>
            <div class="product__producer__companyname">
                <%= product.Producer.CompanyName %>
            </div>
        </div>
      </div>
</script>
