<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Stolons.ViewModels;
@model Stolons.ViewModels.Banner.BannerViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="nav container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Index</a></li>
                        <!--
        <li><a asp-controller="PublicProducts" asp-action="Index">Nos produits</a></li>
        <li><a asp-controller="PublicProducers" asp-action="Index">Nos producteurs</a></li>
        -->
                        <li><a asp-controller="WeekBasket" asp-action="Index">Mon panier</a></li>
                        @if (Model.ActiveAdherentStolon.IsProducer)
                        {
                            <li><a asp-controller="ProductsManagement" asp-action="Index">Mes produits et mes stocks</a></li>
                            <li><a asp-controller="News" asp-action="Index">Mes nouvelles</a></li>
                        }
                        @if (Model.ActiveAdherentStolon.Authorized(Role.Volunteer))
                        {
                            <li><a asp-controller="WeekBasketManagement" asp-action="Index">Gérer les paniers</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Adhérents
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Users" asp-action="Index">Tous les adhérents</a></li>
                                    @if (Model.ActiveAdherentStolon.Stolon.UseSympathizer)
                                    {
                                        <li><a asp-controller="Sympathizers" asp-action="Index">Sympathisants</a></li>
                                    }
                                    <li><a asp-controller="Consumers" asp-action="Index">Consomateurs</a></li>
                                    <li><a asp-controller="Producers" asp-action="Index">Producteurs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Mails" asp-action="Index">Courriels</a></li>
                                    <li><a asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                                    <li><a asp-controller="News" asp-action="Index">Les nouvelles</a></li>
                                    @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
                                    {
                                        <li><a asp-controller="Stolons" asp-route-id="@Model.ActiveAdherentStolon.Stolon.Id" asp-action="Details">@Model.ActiveAdherentStolon.Stolon.Label</a></li>
                                    }
                                    @if (Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
                                    {
                                        <li><a asp-controller="ApplicationConfig" asp-action="Index">Le site</a></li>
                                        <li><a asp-controller="Stolons" asp-action="Index">Les Stolons</a></li>
                                        <li><a asp-controller="ProductsManagement" asp-action="ManageFamilies">Familles de produits</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        <li><a asp-controller="Home" asp-action="StolonContact" asp-route-id="@Model.ActiveAdherentStolon.Stolon.Id">@(Model.ActiveAdherentStolon.Stolon.Label +"TODO changer de place")</a></li>
                    </ul>
                </div>
                <div class="navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
}
