<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Stolons.ViewModels;

<div class="nav-container">
  <nav class="navbar navbar-default" style="overflow: hidden">
    <div class="container-fluid">
      <div class="navbar-header">
	<button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" type="button">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @if (!User.Identity.IsAuthenticated)
          {
          <li><a asp-controller="Home" asp-action="HowItsWork">Comment ça marche</a></li>
          <li><a asp-controller="News" asp-action="Index">Les nouvelles</a></li>
          <li><a asp-controller="PublicProducts" asp-action="Index">Nos produits</a></li>
          <li><a asp-controller="PublicProducers" asp-action="Index">Nos producteurs</a></li>
          <li><a asp-controller="Home" asp-action="Contact">Qui sommes-nous ?</a></li>        
          } else
          {
          <li><a asp-controller="News" asp-action="Index">Les nouvelles</a></li>
          @if (User.IsInRole(Configurations.UserType.Consumer.ToString()))
          {
          <li><a asp-controller="WeekBasket" asp-action="Index">Mon panier</a></li>
          <li><a asp-controller="Bills" asp-action="Index">Mes factures</a></li>
          }
          @if (User.IsInRole(Configurations.UserType.Producer.ToString()))
          {
          <li><a asp-controller="ProductsManagement" asp-action="Index">Mes produits et mes stocks</a></li>
          <li><a asp-controller="Bills" asp-action="Index">Mes factures</a></li>
          }
          @if (User.IsInRole(Configurations.Role.Volunteer.ToString()) || User.IsInRole(Configurations.Role.Administrator.ToString()))
          {
          <li><a asp-controller="WeekBasketManagement" asp-action="Index">Gérer les paniers</a></li>
          <li><a asp-controller="Users" asp-action="Index">Adhérents</a></li>
          <li><a asp-controller="Producers" asp-action="Index">Producteurs</a></li>
          }
          @if (User.IsInRole(Configurations.Role.Administrator.ToString()))
          {
          <li><a asp-controller="ApplicationConfig" asp-action="Index">Administrer le site</a></li>
          }
          }
        </ul>
      </div>
      <div class="navbar-right">
        @await Html.PartialAsync("_LoginPartial")
      </div>
    </div>
  </nav>
</div>
