@using Stolons.ViewModels.PublicProducers
@model PublicProducersViewModel



<div class="row">
    <div class="col-lg-4">
        <h1>Nos producteurs</h1>
    </div>
    <div class="col-lg-8 producersStolonInformations">
        <br />
        <br />
        <span class="producersStolonInformationsNumber">@Model.Producers.Count().ToString()</span><span> producteurs </span>
        <span class="producersStolonInformationsNumber">@Model.TotalProducts.ToString()</span><span> produits bio et locaux</span>
    </div>
</div>

@{ Html.RenderPartial("PublicProducersMap", Model); }

@section Scripts {

    <script src="/lib/leaflet.js"></script>
    <script src="/js/publicProducers.js"></script>

}
