@model ChangeEmailViewModel

<h2>Changement de courriel</h2>

<form asp-controller="Manage" asp-action="ChangeEmail" method="post" class="form-horizontal" role="form">
    <hr />
    <input asp-for="UserId" hidden="hidden" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-small btn-default">Changer mon courriel</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
