@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

@{
    ViewData["Title"] = "Ajouter un nouveau sympathisant";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data">
    @Html.Partial("Templates/EditSympathizer")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Créer" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Retourner aux sympathisants</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}