@using Stolons.Models.Users;
@model Stolons.Models.Messages.News


@{
    ViewData["Title"] = "Ajouter une nouvelle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data">
    @Html.Partial("Templates/EditNews")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ajouter" class="form-control" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-small btn-default" >Retourner aux nouvelles</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>tinymce.init({ selector: 'textarea', language: 'fr_FR', menubar: false });</script>
}
