@model Stolons.Models.Messages.News

@{
    ViewData["Title"] = "Modification de la nouvelle de " + Model.PublishBy.Adherent.Surname + " " + Model.PublishBy.Adherent.Name + " du " + Model.DateOfPublication;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    @Html.Partial("Templates/EditNews")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modifier" class="form-control" />
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>tinymce.init({ selector: 'textarea', language: 'fr_FR', menubar: false });</script>
}