@model Stolons.ViewModels.Adherents.AdherentStolonViewModel

<h2>@("Suppression du producteur : " + Model.AdherentStolon.Adherent.CompanyName)</h2>

<h3>Etes vous sur de vouloir supprimer @Model.AdherentStolon.Adherent.CompanyName</h3>
<div>

    @Html.Partial("Templates/DetailsAdherent", Model)

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-small btn-default" />
        </div>
    </form>
</div>