<link rel="stylesheet" href="~/css/leaflet.css" />

<div class="row">
    <div class="col-lg-12" id="logo">
        <img src="~/images/logos/Logo_HD.png" class="responsiveImage" style="max-width: 500px;" />
    </div>
</div>

<div id="home">
    <div id="producerModal"></div>

    <div class="row">
        <div class="col-lg-12 producersMapContainer">
            <div id="producerModal" class="modals"></div>
            <div id="map" style="height: 400px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="links">
            <div class="col-lg-offset-3 col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#connexion">Se connecter</a></div>
            <div class="col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#get-stolons">Créer un Stolon</a></div>
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Stolons c'est quoi ?</h1>
        <div class="col-lg-12" id="presentation-text">
            Stolons c'est une plateforme libre et open source regroupant des structures, appelées

            Stolon, souhaitant développer une agriculture locale, éthique et écologique tout en créant du

            lien social et en développant les actions locales.

            Tous les Stolons vous proposent de composer chaque semaine votre panier de produits

            locaux, respectueux de l'environnement.

            De plus les Stolons peuvent vous proposer d'autres services comme un café associatif,

            des concerts, des bon plans ...
        </div>
        <div class="col-lg-12 text-center" id="products">
            <img src="~/images/productFamilies/alcool.jpg"/>
            <img src="~/images/productFamilies/confitures.jpg" />
            <img src="~/images/productFamilies/fruits.jpg" />
            <img src="~/images/productFamilies/legumes.jpg" />
            <img src="~/images/productFamilies/pain.jpg" />
            <img src="~/images/productFamilies/produits_laitiers.jpg" />
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Comment ça marche ?</h1>
        <a href="#" data-toggle="modal" data-target="#get-stolons">
            <div class="col-lg-3"><img src="~/images/howitswork/Step1_low.png" class="responsiveImage" /></div>
            <div class="col-lg-3"><img src="~/images/howitswork/Step2_low.png" class="responsiveImage" /></div>
            <div class="col-lg-3"><img src="~/images/howitswork/Step3_low.png" class="responsiveImage" /></div>
            <div class="col-lg-3"><img src="~/images/howitswork/Step4_low.png" class="responsiveImage" /></div>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="#">Qui sommes nous ?</a>
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Nos partenaires</h1>
        <img src="~/images/financers/financers.jpg" class="responsiveImage" />
        <div class="col-lg-12 text-center" id="presentation-text">
            <font size="1" >
                Le site originel stolons.org(<a href="https://github.com/ChavFDG/Stolons">projet github</a>), open source, a été créé par quatre bénévoles informaticiens en 2016 avec l'appui de producteurs et consommateurs du bassin Privadois (07).
                <br />Les financeurs ci-dessus ont contribué à l'évolution et la multiplication d'utilisation de la plateforme en 2017.
            </font>       
        </div>
    </div>

    <div class="modal fade" id="connexion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Connectez-vous !</h4>
                </div>
                @{
                    Html.RenderPartial("../Account/Login");
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="get-stolons" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Obtenir Stolons</h4>
                </div>
                <div class="modal-body">
                    <a href="~/documents/20171128_Reglement_StolonsBIO.pdf" >Voir le réglement</a>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>PRODUCTEUR</th>
                            <th>ASSOCIATION</th>
                        </tr>
                        <tr>
                            <td>Consommateur</td>
                            <td>✓ illimité</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Producteur</td>
                            <td>✓ 1</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Sympathisant</td>
                            <td>✗</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Cotisation</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        @*<tr>
                            <td>Planning</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>*@
                        <tr>
                            <td>Cotisation</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Pourcentage sur CA</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Facture avec TVA</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Compte automatique</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        @*<tr>
                            <td>Bon plan</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>*@
                        <tr>
                            <td>Page personalisable</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Assistance technique</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>TARIFS</td>
                            <td>2€/sem (104€/an)</td>
                            <td>4€/sem (208€/an)<div class="warning-container">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                    <div class="warning-informations">
                                        La première année, puis 5€/semaine (260€ par an)
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="mailto:jeanne.ab07@aurabio.org" class="btn btn-primary" id="contact-us">Nous contacter</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/leaflet.js"></script>
<script src="~/js/publicProducers.js"></script>
