
<link rel="stylesheet" href="~/css/leaflet.css" />

<div class="row">
    <div class="col-lg-12 text-center" id="logo">
        <img src="~/images/logos/Logo_HD.png" class="responsiveImage" style="max-width: 500px;" />
    </div>
</div>

<div id="home">
    <div class="row">
        <h1 class="col-lg-12 text-center">Et si on mangeait bio et local ?</h1>
    </div>
    <div class="row">
        <div class="col-lg-12" id="links">
            <div class="col-lg-offset-3 col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#connexion" onclick="closeStolonDetail()">Se connecter</a></div>
            <div class="col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#get-stolons" onclick="closeStolonDetail()">Créer un Stolon</a></div>
        </div>
    </div>

    <div id="producerModal"></div>
    <div class="row">
        <h1 class="col-lg-12 text-center">Trouver un Stolon</h1>
        <div class="col-lg-12">
            <div class="stolonMapContainer">
                <div id="stolons-map">
                </div>
                <div id="stolonDetails" class="hidden">
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <h1 class="col-lg-12 text-center">Stolons, qu'est-ce que c'est ?</h1>
        <div class="col-lg-12 text-center" id="presentation-text">
            Stolons est un outil à but non lucratif de commandes hebdomadaires en ligne développé en 2016 par une association citoyenne –Stolon de Privas- et renforcé en 2017 par Agri Bio Ardèche.
            Le code de l’outil est libre de droit et son développement est participatif : il a mobilisé plusieurs informaticiens bénévoles, consommateurs et producteurs.
            Les produits alimentaires proposés au sein des Stolons sont tous certifiés issus de l’Agriculture Biologique, proviennent de moins de 50 km du lieu de dépôt et sont vendus au prix de vente directe pratiqué sur le territoire dans un objectif d’accessibilité au plus grand nombre.
        </div>
        <div class="col-lg-12 text-center" id="products">
            <img src="~/images/productFamilies/alcool.jpg" />
            <img src="~/images/productFamilies/confitures.jpg" />
            <img src="~/images/productFamilies/fruits.jpg" />
            <img src="~/images/productFamilies/legumes.jpg" />
            <img src="~/images/productFamilies/pain.jpg" />
            <img src="~/images/productFamilies/produits_laitiers.jpg" />
        </div>
    </div>


    <div class="row">
        <h1 class="col-lg-12 text-center">Comment ça marche ?</h1>
        <div class="text-center">
            <a href="#" data-toggle="modal" data-target="#info-1" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step1_low.png" class="responsiveImage" />
                    <br />
                    <span>Je me connecte au site</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-2" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step2_low.png" class="responsiveImage" />
                    <br />
                    <span>Je compose mon panier</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-3" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step3_low.png" class="responsiveImage" />
                    <br />
                    <span>Les producteurs récoltent</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-4" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step4_low.png" class="responsiveImage" />
                    <br />
                    <span>Je viens récupérer</span>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Nos partenaires</h1>
        <img src="~/images/financers/financers.jpg" class="responsiveImage center-block" />
        <div class="col-lg-12 text-center" id="presentation-text">
            Le site originel stolons.org(<a href="https://github.com/ChavFDG/Stolons" target="_blank">projet github</a>), open source, a été créé par quatre bénévoles informaticiens en 2016 avec l'appui de producteurs et consommateurs du bassin Privadois (07).
            <br />Les financeurs ci-dessus ont contribué à l'évolution et la multiplication d'utilisation de la plateforme en 2017-2018.
        </div>
        <br />
        <div class="col-lg-12 text-center" id="presentation-text">
            <a href="http://www.marionroger.fr/" target="_blank">Illustrations : Marion ROGER</a>
        </div>

        
    </div>

    <div class="modal fade" id="connexion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Connectez-vous !</h4>
                </div>
                @{
                    Html.RenderPartial("../Account/Login");
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="get-stolons" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Obtenir Stolons</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h3>Informations</h3>
                        <div id="presentation-text">
                            Vous souhaitez créer votre propre groupement d'achat en ligne de produits bio et locaux ? Avoir des informations sur la plateforme ? Rien de plus simple !<br>
                            Contactez Agri Bio Ardèche pour plus d'informations:<br>
                            Mail: <a href="mailto:agribioardeche@aurabio.org">agribioardeche@aurabio.org</a><br>
                            Telephone: 04 75 64 82 96<br>
                        </div>
                    </div>
                    <div>
                        <h3>Comment créer mon stolon ?</h3>
                        <div id="presentation-text">
                            L'outil Stolon est proposé à la fois aux producteurs individuels et aux collectifs de producteurs sous réserve du respect des critères suivants: <br />
                            - produits alimentaires certifiés bio ou en dernière année de conversion à l'AB<br />
                            - produits localement dans un rayon de 50 km autour du lieu de dépôt<br />
                            - vendus au prix de vente directe pratiqué sur le territoire.<br />
                            Si vous souhaitez créer votre propre groupement d'achat en ligne de produits bio et locaux et avoir des informations sur la plateforme, contactez-nous ! Agri Bio Ardèche s'engage à accompagner toutes les créations de Stolon.

                        </div>
                    </div>
                    <br />
                    <div id="presentation-text">
                        Les tarifs ci-dessous comprennent les coûts d'hébergement et de maintenance du site internet :
                    </div>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>PRODUCTEUR</th>
                            <th>COLLECTIF</th>
                        </tr>
                        <tr>
                            <td>Consommateur</td>
                            <td>✓ illimité</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Producteur</td>
                            <td>✓ 1</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Sympathisant</td>
                            <td>✗</td>
                            <td>✓ illimité</td>
                        </tr>
                        <tr>
                            <td>Cotisation</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        @*<tr>
                            <td>Planning</td>
                            <td>✗</td>
                            <td>✓</td>
                            </tr>*@
                        <tr>
                            <td>Cotisation</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Pourcentage sur CA</td>
                            <td>✗</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Facture avec TVA</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Compte automatique</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        @*<tr>
                            <td>Bon plan</td>
                            <td>✓</td>
                            <td>✓</td>
                            </tr>*@
                        <tr>
                            <td>Page personalisable</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Assistance technique</td>
                            <td>✓</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>TARIFS</td>
                            <td>2€/sem (104€/an)</td>
                            <td>
                                4€/sem (208€/an)
                                <div title="La première année, puis 5€/semaine (260€ par an)"
                                     data-toggle="tooltip"
                                     data-placement="bottom">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je me connecte au site</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step1_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">Une fois mon compte créé chez le stolon de mon choix je peux chaque semaine me connecter avec mes identifiants.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je compose mon panier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step2_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                Pendant la période de commande, je peux composer et modifier mon panier en ligne à ma guise.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Les producteurs récoltent</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step3_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                A la fin de la période de commande, les producteurs reçoivent les bons de commande et préparent les paniers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je viens récupérer mon panier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step4_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                Je viens récupérer mon panier sur le lieu de dépôt le jour convenu et je paie sur place.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script id="stolonDetailsTemplate" type="text/template">
            <div class="rowAdjust">
                <div class="col-xs-12 stolonDetailsContainer">
                    <div>
                        <button class="close" onclick="closeStolonDetail()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-xs-1">
                            <div class="stolonLogoContainer">
                                <img src="<%= stolon.LogoFilePath %>" class="avatar stolonLogo" />
                            </div>
                        </div>
                        <div class="col-lg-10 col-xs-2">
                            <h1><%= stolon.Label %></h1>
                        </div>
                    </div>
                    <div class="row">
	                <span class="producersStolonInformationsNumber"><%= stolon.Producers.length %> </span> Producteurs
	                <span class="producersStolonInformationsNumber"><%= stolon.Products.length %> </span> Produits bio et locaux
                    </div>
                    <div class="row">
                        <h3>Adresse :</h3>
                        <span><%= stolon.Address %></span>
                    </div>
                    <div class="row">
                        <h3>Horaires de récupération des paniers :</h3>
	                <span><%= stolon.StringPickupTime %></span>
                    </div>
                    <br />
                    <div class="row buttonGoToStonContainer">
                        <a href="/Home/StolonContact/<%= stolon.Id %>" class="btn btn-primary">Voir les détails de ce Stolon</a>
                    </div>
                </div>
            </div>
        </script>

        <script>
            function closeStolonDetail() {
                $("#stolonDetails").toggleClass("hidden", true);
            }
        </script>

        <script src="/js/publicStolons.js"></script>
        <script src="/lib/leaflet.js"></script>
