
<link rel="stylesheet" href="~/css/leaflet.css" />

<div class="row">
    <div class="col-lg-12 text-center" id="logo">
        <img src="~/images/logos/Logo_HD.png" class="responsiveImage" style="max-width: 500px;" />
    </div>
</div>

<div id="home">
    <div class="row">
        <h1 class="col-lg-12 text-center">Et si on mangeait bio et local ?</h1>
    </div>
    <div class="row">
        <div class="col-lg-12" id="links">
            <div class="col-lg-offset-3 col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#connexion" onclick="closeStolonDetail()">Se connecter</a></div>
            <div class="col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#get-stolons" onclick="closeStolonDetail()">Créer un compte</a></div>
        </div>
    </div>

    <div id="producerModal"></div>
    <div class="row">
        <h1 class="col-lg-12 text-center">Trouver un Stolon</h1>
        <div class="col-lg-12">
            <div class="stolonMapContainer">
                <div id="stolons-map">
                </div>
                <div id="stolonDetails" class="hidden">
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <h1 class="col-lg-12 text-center">Stolons, qu'est-ce que c'est ?</h1>
        <div class="col-lg-12 text-center" id="presentation-text">
            Stolons est un outil à but non lucratif de commandes hebdomadaires en ligne développé en 2016 par une association citoyenne –Stolon de Privas- et renforcé en 2017 par Agri Bio Ardèche. Le code de l’outil est libre de droit et son développement est participatif : il a mobilisé plusieurs informaticiens bénévoles, consommateurs et producteurs.
            L'outil Stolons est proposé par Agri Bio Ardèche à des producteurs individuels ou des collectifs de producteurs qui répondent aux critères d'utilisation suivants, inscrits dans le <a href="~/documents/Règlement_Stolons.pdf">règlement de stolons.org</a>

        </div>
        <ul>
            <li>produits certifiés bio ou en conversion vers l'agriculture biologique selon la règlementation européenne en vigueur</li>
            <li>ferme située à moins de 50 km du lieu de distribution</li>
            <li>vente au prix de vente directe pour garantir accessibilité aux consommateurs</li>
        </ul>
        <div class="col-lg-12 text-center" id="products">
            <img src="~/images/productFamilies/alcool.jpg" />
            <img src="~/images/productFamilies/confitures.jpg" />
            <img src="~/images/productFamilies/fruits.jpg" />
            <img src="~/images/productFamilies/legumes.jpg" />
            <img src="~/images/productFamilies/pain.jpg" />
            <img src="~/images/productFamilies/produits_laitiers.jpg" />
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Comment ça marche ?</h1>
        <div class="text-center">
            <a href="#" data-toggle="modal" data-target="#info-1" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step1_low.png" class="responsiveImage" />
                    <br />
                    <span>Je me connecte au site</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-2" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step2_low.png" class="responsiveImage" />
                    <br />
                    <span>Je compose mon panier</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-3" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step3_low.png" class="responsiveImage" />
                    <br />
                    <span>Les producteurs récoltent</span>
                </div>
            </a>
            <a href="#" data-toggle="modal" data-target="#info-4" onclick="closeStolonDetail()">
                <div class="col-lg-3 home-step">
                    <img src="~/images/howitswork/Step4_low.png" class="responsiveImage" />
                    <br />
                    <span>Je viens récupérer</span>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Qui sommes-nous ?</h1>
        <div class="col-lg-12 text-center" id="presentation-text">
            Le projet Stolons est porté par Agri Bio Ardèche, l'association des producteurs bio du département qui a pour mission de développer et promouvoir l'agriculture biologique. L'association fait partie du réseau FNAB, la Fédération Nationale de l'Agriculture Biologique.
            En proposant un modèle de circuit court innovant, nous développons une alimentation bio et locale et mettons en lien producteurs et consommateurs au service de l'intérêt général.
            Plus d'informations sur notre blog : <a href="https://agribioardeche.wordpress.com/" target="_blank">https://agribioardeche.wordpress.com/</a>
        </div>
    </div>

    <div class="row">
        <h1 class="col-lg-12 text-center">Nos partenaires</h1>
        <img src="~/images/financers/financers.jpg" class="responsiveImage center-block" />
        <div class="col-lg-12 text-center" id="presentation-text">
            Le site originel stolons.org(<a href="https://github.com/ChavFDG/Stolons" target="_blank">projet github</a>), open source, a été créé par quatre bénévoles informaticiens en 2016 avec l'appui de producteurs et consommateurs du bassin Privadois (07).
            <br />Les financeurs ci-dessus ont contribué à l'évolution et la multiplication d'utilisation de la plateforme en 2017-2018.
        </div>
        <br />
        <div class="col-lg-12 text-center" id="presentation-text">
            <a href="http://www.marionroger.fr/" target="_blank">Illustrations : Marion ROGER</a>
        </div>


    </div>

    <div class="modal fade" id="connexion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Connectez-vous !</h4>
                </div>
                @{
                    Html.RenderPartial("../Account/Login");
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="get-stolons" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Créer un compte</h4>
                </div>
                <div class="modal-body">
                    @*<div>
                            <h3>Qui sommes-nous ?</h3>
                            <div id="presentation-text">
                                Le projet Stolons est porté par Agri Bio Ardèche, l'association des producteurs bio du département qui a pour mission de développer et promouvoir l'agriculture biologique. L'association fait partie du réseau FNAB, la Fédération Nationale de l'Agriculture Biologique.
                                <br />
                                En proposant un modèle de circuit court innovant, nous développons une alimentation bio et locale et mettons en lien producteurs et consommateurs au service de l'intérêt général.
                                <br />
                                Plus d'informations sur notre blog :  <a href="https://agribioardeche.wordpress.com/">https://agribioardeche.wordpress.com/</a>
                            </div>
                        </div>
                        <div>
                            <h3>Stolons</h3>
                            <div id="presentation-text">
                                Stolon est un outil à but non lucratif de commandes hebdomadaires en ligne qui est proposé par Agri Bio Ardèche à des producteurs individuels ou des collectifs de producteurs qui répondent aux critères d'utilisation suivants, inscrits dans le règlement des stolons :
                                <ul>
                                    <li>Produits certifiés bio ou en conversion vers l'agriculture biologique selon la règlementation européenne en vigueur</li>
                                    <li>Ferme située à moins de 50 km du lieu de distribution</li>
                                    <li>Vente au prix de vente directe pour garantir accessibilité aux consommateurs</li>
                                </ul>
                                Pour accéder au règlement des Stolons,  <a href="~/documents/Règlement_Stolons.pdf">cliquez ici (Règlement Stolons)</a>
                            </div>
                        </div>*@
                    <div>
                        <h3>Vous souhaitez créer un compte ?</h3>
                        <div id="presentation-text">
                            L'inscription ne se fait pas en ligne mais uniquement en contactant votre Stolon local.
                            <br />
                            Suivez les étapes suivantes :
                            <ul>
                                <li>Accédez aux coordonnées du Stolon de votre choix en cliquant sur la carte et sur ses détails</li>
                                <li>Communiquez votre nom, prénom, courriel, numéro de téléphone et code postal par courriel ou téléphone</li>
                                <li>Vous recevrez ensuite un mail avec vos identifiants et votre mot de passe pour vous connecter sur le site</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Vous souhaitez créer un Stolon ?</h3>
                        <div id="presentation-text">
                            Vous êtes un producteur individuel, un collectif de consommateurs et/ou de producteurs et le projet Stolons vous intéresse ?
                            <br />
                            Contactez Agri Bio Ardèche :
                            <br />
                            <a href="mailto:agribioardeche@aurabio.org?Subject=Demmande%20d'information%20sur%20création%20d'un%20Stolon" target="_top">agribioardeche@aurabio.org</a>
                            <br />
                            04 75 64 82 96
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je me connecte au site</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step1_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">Une fois mon compte créé chez le stolon de mon choix je peux chaque semaine me connecter avec mes identifiants.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je compose mon panier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step2_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                Pendant la période de commande, je peux composer et modifier mon panier en ligne à ma guise.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Les producteurs récoltent</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step3_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                A la fin de la période de commande, les producteurs reçoivent les bons de commande et préparent les paniers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Je viens récupérer mon panier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/howitswork/Step4_med.png" class="responsiveImage" />
                        </div>
                        <div class="col-sm-10">
                            <div id="presentation-text">
                                Je viens récupérer mon panier sur le lieu de dépôt le jour convenu et je paie sur place.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="stolonDetailsTemplate" type="text/template">
        <div class="rowAdjust">
            <div class="col-xs-12 stolonDetailsContainer">
                <div>
                    <button class="close" onclick="closeStolonDetail()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-1">
                        <div class="stolonLogoContainer">
                            <img src="<%= stolon.LogoFilePath %>" class="avatar stolonLogo" />
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-2">
                        <h1><%= stolon.Label %></h1>
                    </div>
                </div>
                <div class="row">
                    <span class="producersStolonInformationsNumber"><%= stolon.Producers.length %> </span> Producteurs
                    <span class="producersStolonInformationsNumber"><%= stolon.Products.length %> </span> Produits bio et locaux
                </div>
                <div class="row">
                    <h3>Adresse :</h3>
                    <span><%= stolon.Address %></span>
                </div>
                <div class="row">
                    <h3>Horaires de récupération des paniers :</h3>
                    <span><%= stolon.StringPickupTime %></span>
                </div>
                <br />
                <div class="row buttonGoToStonContainer">
                    <a href="/Home/StolonContact/<%= stolon.Id %>" class="btn btn-primary">Voir les détails de ce Stolon</a>
                </div>
            </div>
        </div>
    </script>

    <script>
        function closeStolonDetail() {
            $("#stolonDetails").toggleClass("hidden", true);
        }
    </script>

    <script src="/js/publicStolons.js"></script>
    <script src="/lib/leaflet.js"></script>
