@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("Index.Logged")
}
else
{
    @await Html.PartialAsync("Index.NotLogged")
}



<!-- COOKIES -->
<div class="alert text-center cookiealert" role="alert">
    <b>Vous aimez les cookies ?</b> &#x1F36A; Nous utilisons un minimum de cookies afin de vous assurer la meilleure expérience possible. Aucune de vos informations n'est destinée à un tier.<a href="http://cookiesandyou.com/" target="_blank">(Plus d'informations)</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        Je suis d'accord
    </button>
</div>
<!-- /COOKIES -->
<script src="~/lib/cookiealert/cookiealert-standalone.js"></script>