@using Stolons.ViewModels.Home

@model HomeViewModel

<div class="row">
    <div class="col-lg-8">
        <h2>Les nouvelles</h2>
        @{
            Html.RenderPartial("../News/ShowNews", Model.NewsVm);
        }
    </div>
    <div class="col-lg-4 ">
        <div class="newsAndChatSeparator">
            <h2>La messagerie</h2>
            @{
                Html.RenderPartial("../Chat/ShowChat", Model.ChatVm);
            }
        </div>
    </div>
</div>


