<h2>Informations légales</h2>

<h3>Coordonnées de l’association</h3>
<p>
    Agri Bio Ardèche
    <br />
    N° SIRET : 420 144  107 00026
    <br />
    Adresse : Chambre d’Agriculture, 4  avenue de l’Europe Unie, 07000 PRIVAS
    <br />
    Téléphone : 04 75 64 82 96
    <br />
    Directeur de la publication : Lynda Bouet, présidente d'Agri Bio Ardèche
</p>
    <h3>Hébergement du site</h3>
<p>
    L’hébergement du site est assuré par la société OVH
    <br />
    Raison sociale : SAS au capital de 10 069 020 €
    <br />
    RCS : Roubaix – Tourcoing 424 761 419 00045
    <br />
    Code APE : 6202A
    <br />
    N° TVA : FR 22 424 761 419
    <br />
    Siège social : 2 rue Kellermann – 59100 Roubaix
    <br />
    Téléphone : 0 820 698 765 »
</p>