@model Stolons.Models.IBill
@using Stolons.Helpers
@using Stolons.Models


@if (Model == null)
{
    <h2>Erreur</h2>
    <p>Impossible de trouver le bon de commande</p>
}
else
{
    if (Model is ProducerBill)
    {
        @Html.Raw(((ProducerBill)Model).HtmlOrderContent)

    }
    else
    {
        @Html.Raw(Model.HtmlBillContent)
    }
}