@model Stolons.Models.IBill
@using Stolons.Helpers
@using Stolons.Models


@if (Model == null)
{
    <h2>Erreur</h2>
    <p>Impossible de trouver le bon de commande</p>
}
else
{
    @Html.Raw(Model.HtmlBillContent)
}