<h3>Nous contacter:</h3>

<address>
    <strong>Téléphone : </strong>@Configurations.Application.ContactPhoneNumber<br />
    <strong>Courriel:</strong> <a href="mailto:@Configurations.Application.ContactMailAddress">@Configurations.Application.ContactMailAddress</a><br/>
</address>
