@{
    ViewData["Title"] = "Index";
}

<div class="row">
   <h4>Bienvenue sur le site de Stolons!</h4>
    <div>
        <img src="~/images/HowItsWork.jpg" class="responsiveImage" />
    </div>
</div>
