@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
    <div>
        <img src="~/images/ViewExemple/Home.Index.png" class="responsiveImage" />
    </div> 
</div>
