@using Stolons.ViewModels.Home

@model HomeViewModel



<div class="row">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Accueil</a></li>
        <li role="presentation"><a href="#">Les nouvelles</a></li>
        <li role="presentation"><a href="#">Bons Plans</a></li>
        <li role="presentation"><a href="#">Mon panier</a></li>
        <li role="presentation"><a href="#">Mes factures</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8">
        <h2>Les nouvelles</h2>
        @{
            Html.RenderPartial("../News/ShowNews", Model.NewsVm);
        }
    </div>
    <div class="col-lg-4">
        <div class="col-md-12">Chat box / Messages</div>
        <div class="col-lg-12">
            <div class="col-lg-12 comment">lala</div>
            <div class="col-lg-12 comment">lili</div>
        </div>
        <div class="col-lg-12">
            <textarea name="comment"></textarea>
            <a href="#" id="add-comment">Ajouter un commentaire</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('a#add-comment').on('click', function () {
            var comment = $('textarea[name=comment]').val();
            $('<div class="col-lg-12 comment">' + comment + '</div>').insertAfter('div.comment:last');
            return false;
        });

    });
</script>


