@model Stolons.ViewModels.Home.StolonContactViewModel

<link rel="stylesheet" href="~/css/leaflet.css" />

<div class="row">
    <div class="col-lg-12" id="logo">
        <img src="~/images/logos/Logo_HD.png" class="responsiveImage" style="max-width: 600px;" />
    </div>
</div>

@{ await Html.RenderPartialAsync("Templates/StolonDetails"); }
