@model Stolons.Models.IBill
@using Stolons.Helpers
@using Stolons.Models


@if (Model == null)
{
    <h2>Erreur</h2>
    <p>Impossible de trouver la facture</p>
}
else
{
    <h2>Facture @Model.BillNumber</h2>
    @Html.Raw(Model.HtmlContent)
}