@model Stolons.ViewModels.Adherents.AdherentStolonViewModel

@{
    ViewData["Title"] = "Suppresion de : " + Model.AdherentStolon.Adherent.Surname +" " + Model.AdherentStolon.Adherent.Name;
}

<h2>@ViewData["Title"]</h2>

<h3>Etes vous sur de vouloir supprimer @Model.AdherentStolon.Adherent.Surname @Model.AdherentStolon.Adherent.Name</h3>
<div>

    @Html.Partial("Templates/DetailsAdherent", Model)
    
    <form asp-action="Delete">
        <div class="form-actions no-color"> 
            <input type="submit" value="Supprimer" class="btn btn-small btn-default" />
        </div>
    </form>
</div>
