@model Stolons.ViewModels.Users.ConsumerViewModel

@{
    ViewData["Title"] = "Edition de " + Model.Consumer.Surname + " " + Model.Consumer.Name;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    @Html.Partial("Templates/EditConsumer")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editer" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retourner aux consomateurs</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}