@model Stolons.ViewModels.Consumers.ConsumerViewModel

@{
    ViewData["Title"] = "Bienvenue "+ Model.Consumer.Surname +" "+ Model.Consumer.Name +" chez " + Configurations.Stolon.Label;
}

<h2>@ViewData["Title"]</h2>
<h3>Votre compte vient d'être créé, retrouvez dès maintenant les produits locaux de nos producteurs sur www.stolons.org</h3>

@Html.Partial("Templates/RememberCredentialTemplate")
