@model Stolons.ViewModels.WeekBasket.ValidationSummaryViewModel


@Html.Partial("Templates/ValidatedBasketTemplate")


@if (Model == null)
{
    <a asp-controller="WeekBasket" asp-action="Index">Retour au panier</a>
}
else
{
    <a asp-controller="WeekBasket" asp-action="Index">(Cliquer ici pour modifier mon panier)</a>
}
