@using Stolons.Models.Users;
@using Stolons.Models.Messages;
@model News
 

<script type='text/javascript'>
        $(document).ready(function () {
            $('select[name="NewsType"]').change(function () {
                //Check if the A option is checked
                if ($(this).val() == "0") {
                    $("#PublishEnd").hide();
                }
                else {
                    $("#PublishEnd").show();
                }
            });
        });
</script>

<div class="form-horizontal">
    <hr />
    <input asp-for="DateOfPublication" hidden="hidden" />
    <input asp-for="ImageLink" hidden="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PublishAs" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select id="PublishAs" class="form-control valid" name="PublishAs" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="UserRole-error">
                @if (Model.User is Producer)
                {
                    <option value="0">Producteur</option>
                }
                @if (User.IsInRole(Configurations.Role.Volunteer.ToString()) || User.IsInRole(Configurations.Role.WebAdmin.ToString()))
                {
                    <option value="1">Stolon</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewsType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select id="NewsType" class="form-control valid" name="NewsType" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="UserRole-error">
                <option value="0">Pour la semaine</option>
                <option value="1">Jusqu'à une date</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="PublishEnd"  style="@(Model.NewsType == NewsType.Week ? "display: none;" : "display: block;")">
        <label asp-for="PublishEnd" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PublishEnd" class="form-control" />
            <span asp-validation-for="PublishEnd" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea rows="5" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageLink" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="file" accept="image/*" name="uploadFile" class="form-control" />
        </div>
    </div>
</div>