@model Stolons.ViewModels.Users.IUserViewModel


<p>Rappel de vos identifiants :</p>
<p>- Courriel : <b>@Model.User.Email</b></p>
<p>- Mot de passe : <b>identique à votre courriel</b></p>
<p>N'oubliez pas de changer votre mot de passe lors de votre prochaine connexion au site.</p>
