
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS';
    /* background-image: url("/images/trocoul.jpg"); */
    /* background-repeat: repeat; */
}

/* body wrapper class, x% of all viewport */
.buddy {
    min-height: 63vh;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#footer {
    width: 70% !important;
    min-width: 70% !important;
    max-width: 70% !important;
    bottom: 0;
    margin: 0 auto;
    height: 60px;
}

@media (max-width: @screen-xs) {
    body {
        font-size: 10px;
    }
}

@media (max-width: @screen-sm) {
    body {
        font-size: 13px;
    }
}

h2 {
    font-size: 1.45em;
}

h3 {
    font-size: 1.20em;
}

.navbar {
    margin-bottom: 0 !important;
}

#navbar {
    width: 80%;
}

.navbar-right {
    display: block !important;
    float: right !important;
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    height: 100%;
}

.navbar-toggle {
    float: left !important;
    min-width: 40px;
    margin-right: 10px !important;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

    input[type="file"] {
        height: auto;
    }

/* Banner */
.bannerAccount {
    margin: 7px;
    margin-right: 15px;
    text-decoration: none;
}


    .bannerAccount .caret {
        margin-top: 15px;
    }

    .bannerAccount form {
        display: table-cell;
    }

.bannerAvatar {
    float: left;
    margin-right: 10px;
    display: table-cell;
}

    .bannerAvatar img {
        max-height: 40px;
        max-width: 37px;
    }

div#login-wrapper {
    margin: 10px;
}

div#adherent-details-wrapper {
    margin: 10px;
}

.warning-container {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
}

img.warning {
    max-width: 25px;
}

.warning-informations {
    position: absolute;
    top: 25px;
    width: auto;
    transform: translateX(-50%);
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    padding: 5px;
    background: #fff;
    z-index: 1;
    white-space: nowrap;
}
.warning-informations.right {
    transform: none;
}



#stols {
    margin-right: 20px;
    margin-top: 10px;
    float: left;
}
/* Image */
.responsiveImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oldNews {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.newsListItem {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    padding: 0px 10px;
}

.newsListItemTitle {
    font-size: 20px;
    margin: 10px 0 15px 0;
    text-align: center;
}

.newsListItemContent {
    min-height: 40px;
}

.newsListItemContentImg {
    float: right;
    padding: 0 0 5px 5px;
}

.newsListItemBottom {
    margin: 10px 0 20px 0;
}

.newsListItemSeparator {
    margin: 5px 0;
    border-top: 1px solid #ccc;
}


.newsListItemHighLight {
    border-color: #609DD6
}

.newsShowAll {
}

.newsThumnail {
    position: relative;
    width: 250px;
    height: 150px;
    background-color: #222;
}

.newsPreviewThumnail {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #222;
}

.nextToDiv {
    display: inline-block;
    padding-right: 10px;
}

.userNewsAvatar {
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
}

.newsIcon {
    font-size: 15px;
    padding-right: 10px;
}

.newContent {
    padding-top: 10px;
}

.newsInfos {
    position: relative;
}

.newsAuthor {
    /* parent element needs to be 'position: relative'! */
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

.tdImageNews {
    width: 250px;
}

.tdImagePreviewNews {
    width: 100px;
}




/**/
.circleAvatarDiv {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.tdAvatarList {
    height: 25px;
    width: 25px;
}

.userListAvatar {
    width: 25px;
    height: 25px;
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/*-- START PUBLIC PRODUCER --*/

.producersList {
    overflow-y: scroll;
    max-height: 470px;
}

.producersMap {
    max-height: 470px;
    height: 470px;
}

.mapMarker {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.producerOpenText {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: 1.25px;
    line-height: 1.6;
}

.public_Prod_avatar > img {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

.producerDetailsContainer {
    margin-top: 10px;
}

.producerDetailsTitle {
    font-size: 1.4em;
    color: #337ab7;
    padding-left: 10px;
}

/*-- END PUBLIC PRODUCER --*/

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    line-height: 2;
    margin: 5px;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    line-height: 2;
    margin: 5px;
}

.warning-text {
    padding-left: 5px;
}

.quantity-icon {
    background: url("/images/basketQuantity.png") no-repeat;
    background-size: 20px 20px;
    display: block;
    width: 22px;
    height: 22px;
}


/* START public product */

.publicProduct {
    position: relative;
    border: 2px solid #222;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px #777;
}


.publicProduct.Producteur {
    border-color: #016b01;
}
.publicProduct.Transformateur {
    border-color: #d43f3a;
}
.publicProduct.Distributeur {
    border-color: #444482;
}

.publicProduct.Producteur .product__producer__type {
    background-color: #016b01;
}
.publicProduct.Transformateur .product__producer__type {
    background-color: #d43f3a;
}
.publicProduct.Distributeur .product__producer__type {
    background-color: #444482;
}


/* END public product */

/* START weekbasket product */

.product {
    position: relative;
    border: 2px solid #222;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px 0px #777;
    margin-bottom: 20px;
}

.product:hover {
    transform: scale(1.02);
    transition: all 100ms;
}
.product.Producteur {
    border-color: #016b01;
}
.product.Transformateur {
    border-color: #d43f3a;
}
.product.Distributeur {
    border-color: #444482;
}
.product__producer {
    height: 45px;
    margin-top: 15px;
    border-top: 1px solid #aaa;
}
.product__producer__type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    border-top-right-radius: 8px;
    color: #e1e1e1;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}
.product.Producteur .product__producer__type {
    background-color: #016b01;
}
.product.Transformateur .product__producer__type {
    background-color: #d43f3a;
}
.product.Distributeur .product__producer__type {
    background-color: #444482;
}
.product__producer__companyname {
    float: left;
    max-width: 70%;
    margin: 13px 0px 0 10px;
    background-color: transparent;
    color: #333;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product__producer__avatar {
    float: left;
    margin: 10px 0 0 15px;
}
.product__producer__avatar img {
    width: 25px;
    height: 25px;
}

.product__type {
    margin-bottom: 55px;
}
.product__type__title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
    width: 40px;
    text-align: right;
}
.product__type__title .anchorProductType {
    white-space: nowrap;
    font-size: 26px;
}
.product__type__title .verticaltext {
    width: 26px;
    height: 15px;
    line-height: 26px;
    transform: rotate(-90deg);
    text-align: center;
    text-transform: capitalize;
}
.product__type__title img {
    margin: 0 15px 0 0;
}
.product__type__content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 55px);
    padding-left: 15px;
    border-left: 3px solid #008000;
}

/* END weekbasket product */

.anchorProductFamily {
    position: relative;
    margin-bottom: 15px;
    padding: 5px 5px 5px 30px;
    font-size: 17px;
    font-weight: 600;
}

.anchorProductFamily a {
    color: black;
}

#filters {
    padding: 15px;
}

#filters > li {
    list-style-type: none;
    display: inline;
}

#filters > li::after {
    content: '>';
    display: inline;
    margin-left: 5px;
}
#filters > li:last-child::after {
    content: '';
}
#filters > li > a:hover {
    text-decoration: none;
    text-shadow: 0px 1px 0px #555;
}
#filters .dropdown__item__text {
    display: inline;
}
.productCategoryImage {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
#filters .dropdown-menu {
    list-style-type: none;
    top: 25px;
    left: 15px;
    opacity: 1 !important; /* block dowpdown js animation */
}

#filters .dropdown-menu > li > a:hover {
    background-color: #fff;
    text-shadow: 0px 1px 0px #555;
}

/* #filters .searchFilter { */
/*     display: inline; */
/* } */
.product-top {
    height: 100px;
    margin-top: 25px;
    position: relative;
}

.product-bottom {
}

.pr_img {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

.pr_img img {
    max-height: 100px;
    max-width: 100px;
    margin: 5px;
    padding: 5px;
}

.pr_labels {
    position: absolute;
    bottom: 0;
}

.pr_label {
    float: left;
    margin: 0 1px;
    padding-left: 5px;
}

.pr_label img {
    width: 20px;
    height: 20px;
}

.pr_label img:hover {
    transform: scale(1.5);
    transition: all 100ms;
}

.product-bottom {
    /* height: 100px; */
}

.pr_name {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
    min-height: 2.4em;
    max-height: 2.4em;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.pr_qtystock {
    text-align: center;
    padding: 2% 5% 0 5%;
    /* padding: 10px; */
}

    .pr_qtystock ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.pr_priceQuantity {
    text-align: center;
    font-size: medium;
    font-weight: 500;
    display: block;
}

.pr_actions {
    height: 30px;
    margin: 10px 0 0 0;
    text-align: center;
}

.pr_actionDetail {
    display: inline;
}

.outOfStock {
    color: #f00;
}

.addProduct {
    display: inline;
}

.quantity {
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
}

/* Product modal in week basket view */

.producerModalName {
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
}

.producerModalName > a {
    color: #fff !important;
}

.producerModalAvatar {
    margin-right: auto;
    display: inline-block;
}

.producerModalAvatar img {
    width: 35px;
    height: 35px;
}

.producerInfoList li {
    padding: 5px;
}

.producerInfoList ul {
    list-style-type: none;
}

.producerInfoList {
    padding-top: 20px;
}

.modals .modal-header .close {
    font-size: 30px;
}

.modals {
    display: block !important;
}

.modals ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#productModal-desc {
    margin-right: 10px;
    padding-top: 20px;
}

#productModal-pricing {
    padding-left: 15px;
}

#productModal-img img {
    max-width: 550px;
    max-height: 100%;
    display: inline-block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.searchFilter {
    padding-left: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.select2-container--default, .select2-selection--single {
    width: 170px !important;
    height: 30px !important;
}

.select-option {
    height: 30px;
    width: 180px;
}

.select-option img {
    max-width: 25px;
    max-height: 25px;
}

#basket__wrapper {
    position: static; /* will be fixed on scroll offset Y > 300 (300 is the header height) */
}
#basket__wrapper.fixed {
    position: fixed;
    top: 20px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#tmpBasket .table {
    max-width: 260px;
}
@media (max-width: 990px) { /* bootstrap sm-max*/
    #tmpBasket {
        position: static;
    }
    #tmpBasket .table {
        max-width: 100%;
    }
}


.basketTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 5px !important;
}

.basketTable > th {
    border: 1px solid #ddd;
}

.basketTitle {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.basketValidation {
    text-align: center;
}

.deleteEntry {
    color: #f00;
}

.fixedBasket {
    position: fixed;
    top: 30%;
    left: 5%;
}

.dl-horizontal > dt {
    white-space: normal !important;
    text-align: left !important;
}

.hidden {
    display: none;
}

.productMgtImage {
    vertical-align: middle !important;
}

    .productMgtImage img {
        width: 50px;
        height: 40px;
    }

.productsMgtTable td, th {
    vertical-align: middle !important;
    /* text-align: center; */
}

.noLiStyle {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

    .noLiStyle li {
        padding: 3px;
    }

.btn-small {
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 350;
    line-height: 1.32857;
    margin-bottom: 0;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.imgPreview {
    max-width: 200px;
}

.text-danger {
    font-size: medium;
}

.boxContainer {
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    margin-top: 25px;
}

.manageFamiliesButtons {
    margin: 15px;
}



/*******************************/

div#home div.row {
    margin-top: 20px;
}

div#links {
    margin: 30px 0;
}

a:hover, a:active {
    text-decoration: underline;
    color: #008000;
}

.modals a {
    color: #008000;
}

button[type=button] {
    text-decoration: none;
    background: #008000;
    color: #fff;
    border: 0;
}

    button[type=button]:hover, button[type=button]:active {
        background: #016b01;
        color: #fff;
        border: 0;
    }


a.main-links {
    max-width: 250px;
    margin: auto;
    display: block;
    padding: 10px;
    background: #008000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

a.main-links:hover, a.main-links:active {
    background: #016b01;
    color: #fff;
}

.comment {
    padding: 5px;
    background: #efefef;
    margin-top: 5px;
}

.comment img {
    width: 100%;
    border-radius: 50%;
}

.comment .date {
    margin-top: 10px;
    font-size: 12px;
}

textarea#add-comment {
    width: 100%;
    max-width: 100%;
    height: 100px;
    border-radius: 5px;
    margin: 5px 0;
}

textarea.error {
    border: 1px red solid;
}

.modal-header {
    background: green;
    color: #fff;
    padding: 5px 15px;
}

h1 {
    color: #016b01;
}

.stolon-avatar {
    height: 50px;
    width: 50px;
}


/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

    .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

        .tabs-below > .nav-tabs > li > a {
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

            .tabs-below > .nav-tabs > li > a:hover,
            .tabs-below > .nav-tabs > li > a:focus {
                border-top-color: #ddd;
                border-bottom-color: transparent;
            }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
    }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

        .tabs-left > .nav-tabs > li > a:hover,
        .tabs-left > .nav-tabs > li > a:focus {
            border-color: #eeeeee #dddddd #eeeeee #eeeeee;
        }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

    .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

        .tabs-right > .nav-tabs > li > a:hover,
        .tabs-right > .nav-tabs > li > a:focus {
            border-color: #eeeeee #eeeeee #eeeeee #dddddd;
        }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
    }
.clickable-table tr:hover {
    background-color: #ccc;
}
.clickable-table td:hover {
    cursor: pointer;
}
.clickable-row {

}

.crossed {
    background: linear-gradient(to top right,
				rgba(0,0,0,0) 0%,
				rgba(0,0,0,0) calc(50% - 0.8px),
				rgba(0,0,0,1) 50%,
				rgba(0,0,0,0) calc(50% + 0.8px),
				rgba(0,0,0,0) 100%);
    min-height: 50px;
    height: 50px;
    position: static;
}

.th-crossed-left {
    position: relative;
    top: 12px;
}

.th-crossed-right {
    position: relative;
    bottom: 12px;
}

#correction-table {
    margin: auto;
}

#correction-table td, #correction-table th {
    padding: 5px;
    border: 1px solid black;
}

.correction-col-error {
    background-color: #f57070;
}

#validateCorrection {
    margin-top: 7px;
}

#correction-modal-dialog {
    width: auto;
    max-width: 75%;
    padding-left: 10%;
    padding-right: 10%;
}

.correction-product-description {
    max-width: 150px;
    min-width: 60px;
}

.correction-bill-entry {
    max-width: 150px;
    font-size: 13px;
    margin: auto;
    align: center;
    text-align: center;
}

.productStockQty {
    max-width: 40px;
    line-height: 0.8em;
}

#correction-reason {
    margin: 10px;
}

.error {
    border: 1px red solid;
}

label.required:after {
    color: red;
    content: '*';
}

.td-disabled {
    background:#cccccc; color:#ffffff;
}

div.chat {
    height: 500px;
    overflow: auto;
}

.productPreviewTooltip {
    max-width: 240px;
    width: 240px;
    border-radius: 10px;
}

.productPreviewTooltipContent {
    max-height: 100%;
    max-width: 100%;
}

.ui-helper-hidden-accessible {
    display:none;
}
