
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS';
    /* background-image: url("/images/trocoul.jpg"); */
    /* background-repeat: repeat; */
}

/* body wrapper class, x% of all viewport */
.buddy {
    min-height: 63vh;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#footer {
    width: 70% !important;
    min-width: 70% !important;
    max-width: 70% !important;
    bottom: 0;
    margin: 0 auto;
    height: 60px;
}

@media (max-width: @screen-xs) {
    body {
        font-size: 10px;
    }
}

@media (max-width: @screen-sm) {
    body {
        font-size: 13px;
    }
}

h2 {
    font-size: 1.45em;
}

h3 {
    font-size: 1.20em;
}

.navbar {
    margin-bottom: 0 !important;
}

#navbar {
    width: 80%;
}

.navbar-right {
    display: block !important;
    float: right !important;
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    height: 100%;
}

.navbar-toggle {
    float: left !important;
    min-width: 40px;
    margin-right: 10px !important;
}

#presentation-text {
    font-size: 15px;
    letter-spacing: 1.25px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

    input[type="file"] {
        height: auto;
    }

/* Banner */
.bannerAccount {
    margin: 7px;
    margin-right: 15px;
    text-decoration: none;
}


    .bannerAccount .caret {
        margin-top: 15px;
    }

    .bannerAccount form {
        display: table-cell;
    }

.bannerAvatar {
    float: left;
    margin-right: 10px;
    display: table-cell;
}

    .bannerAvatar img {
        max-height: 40px;
        max-width: 37px;
    }

div#login-wrapper {
    margin: 10px;
}

div#adherent-details-wrapper {
    margin: 10px;
}

.warning-container {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
}

img.warning {
    max-width: 25px;
}

.warning-informations {
    position: absolute;
    top: 25px;
    width: auto;
    transform: translateX(-50%);
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    padding: 5px;
    background: #fff;
    z-index: 1;
    white-space: nowrap;
}

    .warning-informations.right {
        transform: none;
    }

#logo img {
    margin: auto;
    max-width: 500px;
    width: 500px;
    display: block;
}

.banner-stols-container {
    margin-top: 4px;
    float: left;
}

/* Image */
.responsiveImage {
    max-width: 100%;
    max-height: 100%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.oldNews {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.newsListItem {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    padding: 0px 10px;
}

.newsListItemTitle {
    font-size: 20px;
    margin: 10px 0 15px 0;
    text-align: center;
}

.newsListItemContent {
    min-height: 40px;
}

.newsListItemContentImg {
    float: right;
    padding: 0 0 5px 5px;
}

.newsListItemBottom {
    margin: 10px 0 20px 0;
}

.newsListItemSeparator {
    margin: 5px 0;
    border-top: 1px solid #ccc;
}

.newsAndChatSeparator {
    border-left: 2px solid #008000;
    padding-left: 20px;
}


.newsListItemHighLight {
    border-color: #609DD6
}

.newsShowAll {
}

.newsThumnail {
    position: relative;
    width: 250px;
    height: 150px;
    background-color: #222;
}

.newsPreviewThumnail {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #222;
}

.nextToDiv {
    display: inline-block;
    padding-right: 10px;
}

.userNewsAvatar {
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
}

.newsIcon {
    font-size: 15px;
    padding-right: 10px;
}

.newContent {
    padding-top: 10px;
}

.newsInfos {
    position: relative;
}

.newsAuthor {
    /* parent element needs to be 'position: relative'! */
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

.tdImageNews {
    width: 250px;
}

.tdImagePreviewNews {
    width: 100px;
}




/**/
.circleAvatarDiv {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.tdAvatarList {
    height: 25px;
    width: 25px;
}

.userListAvatar {
    width: 25px;
    height: 25px;
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/*-- START PUBLIC PRODUCER --*/
.testtest {
    display: table-cell;
    vertical-align: bottom;
}

.producersStolonInformations {
    vertical-align: bottom;
    text-align: center;
    text-align: right;
    font-size: 18px;
    display: table;
    line-height: 20px;
    padding-bottom: 10px;
}

.producersStolonInformationsNumber {
    color: #008000;
    font-size: 22px;
}

.producersListAndMapContainer {
    height: 70vh;
}

.producerDetails {
    overflow-y: auto;
    height: 25vh;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #008000;
    border: 1px solid;
}

.producersList {
    overflow-y: auto;
    height: 100%;
}

.producersMapContainer {
    height: 70vh;
}

.producersMapFull {
    height: 70vh;
}

.producersMapHalf {
    height: 45vh;
}

.mapMarker {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.producerOpenText {
    font-size: 14px;
    font-style: italic;
}

.producerOpenTextTile {
    font-size: 18px;
}

.public_Prod_avatar > img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.public_Prod_avatar_Detail {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}

    .public_Prod_avatar_Detail > img {
        width: 60px;
        height: 60px;
    }

.public_Prod_CompanyName {
    color: #008000;
    font-size: 16px;
}

.public_Prod_Production {
    font-size: 12px;
}

.producerDetailsContainer {
}

.producerOpenTextContainer {
    padding: 5px;
}

.producerDetailsTitle {
    font-size: 22px;
    color: #008000;
    padding-left: 10px;
    padding-bottom: 10px;
}

.producerDetailsName {
    padding-left: 10px;
}
/*-- END PUBLIC PRODUCER --*/
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    line-height: 2;
    margin: 5px;
}

.isa_warning {
    color: #9F6000;
    background: radial-gradient(#FEEFB3, white);
    line-height: 2;
    margin: 5px;
}

.warning-text {
    padding-left: 5px;
}

.quantity-icon {
    background: url("/images/basketQuantity.png") no-repeat;
    background-size: 20px 20px;
    display: block;
    width: 22px;
    height: 22px;
}


/* START public product */

.publicProduct {
    position: relative;
    border: 2px solid #222;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px #777;
}


    .publicProduct.Producteur {
        border-color: #016b01;
    }

    .publicProduct.Transformateur {
        border-color: #d43f3a;
    }

    .publicProduct.Distributeur {
        border-color: #444482;
    }

    .publicProduct.Producteur .product__producer__type {
        background-color: #016b01;
    }

    .publicProduct.Transformateur .product__producer__type {
        background-color: #d43f3a;
    }

    .publicProduct.Distributeur .product__producer__type {
        background-color: #444482;
    }


/* END public product */

/* START weekbasket product */

.product {
    position: relative;
    border: 2px solid #222;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px 0px #777;
    margin-bottom: 20px;
}

    .product:hover {
        transform: scale(1.02);
        transition: all 100ms;
    }

    .product.Producteur {
        border-color: #016b01;
    }

    .product.Transformateur {
        border-color: #d43f3a;
    }

    .product.Distributeur {
        border-color: #444482;
    }

.product__producer {
    height: 45px;
    margin-top: 15px;
    border-top: 1px solid #aaa;
}

.product__zoom {
    display: none;
    position: absolute;
    right: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    padding-top: 3px;
    font-size: 24px;
    background-color: #eee;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color: #333;
}

.product:hover .product__zoom {
    display: block;
}

.product__producer__type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    border-top-right-radius: 8px;
    color: #e1e1e1;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}

.publicProductContainer {
    height: 225px;
}

.product.Producteur .product__producer__type {
    background-color: #016b01;
}

.product.Transformateur .product__producer__type {
    background-color: #d43f3a;
}

.product.Distributeur .product__producer__type {
    background-color: #444482;
}

.product__producer__companyname {
    float: left;
    max-width: 70%;
    margin: 13px 0px 0 10px;
    background-color: transparent;
    color: #333;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__producer__avatar {
    float: left;
    margin: 10px 0 0 15px;
}

    .product__producer__avatar img {
        width: 25px;
        height: 25px;
    }

.product__type {
    margin-bottom: 55px;
}

.product__type__title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
    width: 40px;
    text-align: right;
}

    .product__type__title .anchorProductType {
        white-space: nowrap;
        font-size: 26px;
    }

    .product__type__title .verticaltext {
        width: 26px;
        height: 15px;
        line-height: 26px;
        transform: rotate(-90deg);
        text-align: center;
        text-transform: capitalize;
    }

    .product__type__title img {
        margin: 0 15px 0 0;
    }

.product__type__content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 55px);
    padding-left: 15px;
    border-left: 3px solid #008000;
}

/* END weekbasket product */

.anchorProductFamily {
    position: relative;
    margin-bottom: 15px;
    padding: 5px 5px 5px 30px;
    font-size: 17px;
    font-weight: 600;
}

    .anchorProductFamily a {
        color: black;
    }

#filters {
    padding: 15px;
}

    #filters > li {
        list-style-type: none;
        display: inline;
    }

        #filters > li::after {
            content: '>';
            display: inline;
            margin-left: 5px;
        }

        #filters > li:last-child::after {
            content: '';
        }

        #filters > li > a:hover {
            text-decoration: none;
            text-shadow: 0px 1px 0px #555;
        }

    #filters .dropdown__item__text {
        display: inline;
    }

.productCategoryImage {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

#filters .dropdown-menu {
    list-style-type: none;
    top: 25px;
    left: 15px;
    opacity: 1 !important; /* block dowpdown js animation */
}

    #filters .dropdown-menu > li > a:hover {
        background-color: #fff;
        text-shadow: 0px 1px 0px #555;
    }

/* #filters .searchFilter { */
/*     display: inline; */
/* } */
.product-top {
    height: 100px;
    margin-top: 25px;
    position: relative;
}

.product-bottom {
}

.pr_img {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

    .pr_img img {
        max-height: 100px;
        max-width: 100px;
        margin: 5px;
        padding: 5px;
    }

.pr_labels {
    position: absolute;
    bottom: 0;
}

.pr_label {
    float: left;
    margin: 0 1px;
    padding-left: 5px;
}

    .pr_label img {
        width: 20px;
        height: 20px;
    }

        .pr_label img:hover {
            transform: scale(1.5);
            transition: all 100ms;
        }

.product-bottom {
    /* height: 100px; */
}

.pr_name {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
    min-height: 2.4em;
    max-height: 2.4em;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.pr_qtystock {
    text-align: center;
    padding: 2% 5% 0 5%;
    /* padding: 10px; */
}

    .pr_qtystock ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.pr_priceQuantity {
    text-align: center;
    font-size: medium;
    font-weight: 500;
    display: block;
}

.pr_actions {
    height: 30px;
    margin: 10px 0 0 0;
    text-align: center;
}

.pr_actionDetail {
    display: inline;
}

.outOfStock {
    color: #f00;
}

.addProduct {
    display: inline;
}

.quantity {
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
}

/* Product modal in week basket view */

.producerModalName {
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
}

    .producerModalName > a {
        color: #fff !important;
    }

.producerModalAvatar {
    margin-right: auto;
    display: inline-block;
}

    .producerModalAvatar img {
        width: 35px;
        height: 35px;
    }


.producerInfoList {
    padding-top: 20px;
    line-height: 13px;
}

.close {
    font-size: 30px;
    padding-left: -5px;
    float: right;
}

.modals {
    display: block !important;
}

    .modals ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

#productModal-desc {
    margin-right: 10px;
    padding-top: 20px;
}

#productModal-pricing {
    padding-left: 15px;
}

#productModal-img img {
    max-width: 550px;
    max-height: 100%;
    display: inline-block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.searchFilter {
    padding-left: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.select2-container--default, .select2-selection--single {
    width: 170px !important;
    height: 30px !important;
}

.select-option {
    height: 30px;
    width: 180px;
}

    .select-option img {
        max-width: 25px;
        max-height: 25px;
    }

#basket__wrapper {
    position: static; /* will be fixed on scroll offset Y > 300 (300 is the header height) */
}

#basket__wrapper.fixed {
    position: fixed;
    top: 20px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#tmpBasket {
}

#tmpBasket .table {
    max-width: 260px;
    background-color: #f8f8f8;
}

@media (max-width: 990px) { /* bootstrap sm-max*/
    #tmpBasket {
        position: static;
    }

        #tmpBasket .table {
            max-width: 100%;
        }
}


.basketTable {
    border-collapse: collapse;
    border: 3px solid #ddd;
    border-top-left-radius: 10px;
    margin-bottom: 0px !important;
}

    .basketTable > th {
        border: 1px solid #ddd;
    }

.basketTitle {
    font-size: 15px;
    width: 100%;
    text-align: center;
}


#validatedBasket .validatedBasketCollapse {
    cursor: pointer;
}


.basketValidation {
    max-width: 260px;
    padding: 15px 0 20px 0;
    text-align: center;
    border: 3px solid #ddd;
    border-top-width: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8f8f8;
}

.basketValidation__msg {
    margin-bottom: 15px;
}

.basketValidation__btnsubmit {
    background: #008000;
    color: #fff;
}

.deleteEntry {
    color: #f00;
}

.fixedBasket {
    position: fixed;
    top: 30%;
    left: 5%;
}

.dl-horizontal > dt {
    white-space: normal !important;
    text-align: left !important;
}

.hidden {
    display: none;
}

.productMgtImage {
    vertical-align: middle !important;
}

    .productMgtImage img {
        width: 50px;
        height: 40px;
    }

.productsMgtTable td, th {
    vertical-align: middle !important;
    /* text-align: center; */
}

.disabled {
    opacity: 0.6;
    background-color: #333;
}

.noLiStyle {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

    .noLiStyle li {
        padding: 3px;
    }

.btn-small {
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 350;
    line-height: 1.32857;
    margin-bottom: 0;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.imgPreview {
    max-width: 200px;
}

.text-danger {
    font-size: medium;
}

.boxContainer {
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    margin-top: 25px;
}

.manageFamiliesButtons {
    margin: 15px;
}



/*******************************/

div#home div.row {
    margin-top: 20px;
}

div#links {
    margin: 30px 0;
}

a:hover, a:active {
    text-decoration: underline;
    color: #008000;
}


.modals a {
    color: #008000;
}

button[type=button] {
    text-decoration: none;
    background: #008000;
    color: #fff;
    border: 0;
}

    button[type=button]:hover, button[type=button]:active {
        background: #016b01;
        color: #fff;
        border: 0;
    }


a.main-links {
    max-width: 250px;
    margin: auto;
    display: block;
    padding: 10px;
    background: #008000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

    a.main-links:hover, a.main-links:active {
        background: #016b01;
        color: #fff;
    }

div.chat {
    height: 60vh;
    overflow: auto;
    margin: 5px;
}

.comment {
    background: #efefef;
    margin: 5px;
}

    .comment img {
        width: 100%;
        border-radius: 50%;
    }

    .comment .date {
        margin-top: 10px;
        font-size: 12px;
    }

.chat-add-comment {
    margin: 5px;
}

textarea#add-comment {
    width: 100%;
    max-width: 100%;
    height: 100px;
    border-radius: 5px;
    margin: 5px 0;
}

textarea.error {
    border: 1px red solid;
}

.modal-header {
    background: green;
    color: #fff;
    padding: 5px 15px;
}

h1 {
    color: #016b01;
}

.stolon-avatar {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding-right: 5px;
}

.stolon-avatar-dropdown {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-right: 5px;
}

.stolon-avatar-banner-container {
    vertical-align: middle;
    padding-top: 16px;
}

.stolon-avatar-banner {
    height: 100%;
    width: 100%;
    padding-right: 5px;
    border-radius: 16px;
    border-color: black;
    border: 2px solid;
}

.stolon-title {
    padding-top: 7px;
}

    .stolon-title span {
        color: #016b01;
        font-size: 40px;
    }


.basket-banner-container {
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
}

.basket-banner-border {
    border-radius: 10px;
    border-color: #008000 !important;
    border: 2px solid;
    padding-left: 15px;
}

.basket-banner-logo {
    height: 26px;
    width: 26px;
    padding-bottom: 3px;
}

.basket-banner-title {
    text-align: center;
}

    .basket-banner-title img {
        margin-right: 7px;
        width: 42px;
        height: 42px;
    }

    .basket-banner-title span {
        font-size: 20px;
    }

.basket-banner-information {
    font-size: 12px;
    font-style: italic;
    text-align: left;
}

    .basket-banner-information img {
        width: 34px;
        height: 17px;
        padding-right: 7px;
        margin: 2px;
    }

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

    .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

        .tabs-below > .nav-tabs > li > a {
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

            .tabs-below > .nav-tabs > li > a:hover,
            .tabs-below > .nav-tabs > li > a:focus {
                border-top-color: #ddd;
                border-bottom-color: transparent;
            }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
    }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

        .tabs-left > .nav-tabs > li > a:hover,
        .tabs-left > .nav-tabs > li > a:focus {
            border-color: #eeeeee #dddddd #eeeeee #eeeeee;
        }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

    .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

        .tabs-right > .nav-tabs > li > a:hover,
        .tabs-right > .nav-tabs > li > a:focus {
            border-color: #eeeeee #eeeeee #eeeeee #dddddd;
        }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
    }

.clickable-table tr:hover {
    background-color: #ccc;
}

.clickable-table td:hover {
    cursor: pointer;
}

.clickable-row {
}

.crossed {
    background: linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%);
    min-height: 50px;
    height: 50px;
    position: relative;
}

.th-crossed-left {
    position: absolute;
    bottom: 5px;
}

.th-crossed-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

#correction-table {
    margin: auto;
    padding: 10px;
}

#correction-table td, #correction-table th {
    padding: 5px;
    border: 1px solid black;
}

.correction-col-error {
    background-color: #f57070;
}

#validateCorrection {
    margin-top: 7px;
}

#correction-modal-dialog {
    margin: 30px;
}

#correction-modal-dialog .modal-body {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#correction-modal-dialog table {
    margin: 15px;
}

.correction-product-description {
    min-width: 60px;
}

.correction-bill-entry {
    max-width: 150px;
    font-size: 13px;
    margin: auto;
    align: center;
    text-align: center;
}

.productStockQty {
    max-width: 40px;
    line-height: 0.8em;
}

#correction-reason {
    margin: 10px;
}

.error {
    border: 1px red solid;
}

label.required:after {
    color: red;
    content: '*';
}

.td-disabled {
    background: #cccccc;
    color: #ffffff;
}


.productPreviewTooltip {
    max-width: 240px;
    width: 240px;
    border-radius: 10px;
}

.productPreviewTooltipContent {
    max-height: 100%;
    max-width: 100%;
}

.ui-helper-hidden-accessible {
    display: none;
}

/* Form validation styles */
.input-validation-error {
    border-color: red;
}

.home-step :hover {
    transform: scale(1.05);
    transition: all 100ms;
}


.home-step span {
    font-size: 17px;
}

.topButtonContainer {
    text-align: center;
}

#topButton {
    height: 50px;
    width: 50px;
    color: #008000;
    border-color: #008000;
    border-width: 1px;
    border-radius: 50%;
}

.weekBasketLoadingContrainer {
    text-align: center;
    font-size: 50px;
}

.showAllProductContainer {
    text-align: center;
}

/* START Home not logged view */

#stolons-map {
    width: 100%;
    max-with: 100%;
    height: 100%;
    max-height: 100%;
}

.stolonMapContainer {
    height: 500px;
    max-height: 500px;
}

/* Show on top of the map */
#stolonDetails {
    position: absolute;
    z-index: 9999;
    left: 65%;
    bottom: 0%;
    width: 34%;
    height: 100%;
    background-color: #F9F9F9;
}

.stolonDetailsContainer {
    margin: 5px;
}

.rowAdjust {
    margin-left: 15px;
    margin-right: 15px;
}

.stolonLogo {
    height: 50px;
    width: 50px;
}

.stolonLogoContainer {
    padding-top: 25px;
}

.closeStolonDetail {
    margin-right: -15px;
}

.buttonGoToStonContainer {
    text-align: center;
}
/* END Home not logged view */


/* BEGGIN History view */

tr.collapsableHeader {
    cursor: pointer;
}

.fullScreenModal {
    width:auto;
    height:auto;
    margin:50px;
}

.billModalContent{
    margin:10px;
}

.hoverHighlight:hover {
    background-color: #F6F47C;
}

.stockManagementWrapper {
    padding: 10px;
}

.loading-products {
    /* font-size: 25px; */
    color: #fff;
    position: relative;
    right: 40%;
}

/* END Home not logged view */
