
/*-- WEEK BASKET --*/

/* .weekBasketContent { */
/*     padding-top: 20px; */
/* } */

#validatedBasket {
    padding-top: 35px;
}

#emptyProducts {
    min-height: 40%;
    height: 40%;
}

#tree {
    padding-top: 10px;
}

#baskets {
    position: relative;
    /*
        this div is positionned by bootstrap, one shall not set css rules here
        prefere setting ryles in #tmpBasket
    */
}

/* #filters { */
/*     position: fixed; */
/*     top: 285px; */
/*     left: 20%; */
/*     z-index: 1020; */
/*     max-width: 100px; */
/* } */

/* #products { */
/*     margin-left: 28%; */
/*     max-width: 750px; */
/* } */
