
/*-- WEEK BASKET --*/

.weekBasketContent {
    padding-top: 20px;
}

#validatedBasket {
    padding-top: 35px;
}

#tmpBasket {
    padding-top: 5px;
}

#emptyProducts {
    min-height: 40%;
    height: 40%;
}

#tree {
    padding-top: 10px;
}

#baskets {
    padding: 15px 0;
    position: fixed;
    right: 12%;
    top: 60px;
    width: auto; /* same as .content left */
    z-index: 1020;
}

#filters {
    position: fixed;
    top: 60px;
    left: 15%;
    z-index: 1020;
    max-width: 100px;
}

#products {
    margin-left: 28%;
    max-width: 750px;
}
