@model Stolons.ViewModels.Adherents.AdherentViewModel

<form asp-action="EditAdherent" enctype="multipart/form-data" name="editAdherent">
    <div class="modal-body">
        @Html.Partial("EditAdherent")
    </div>
    <div class="modal-footer">
        <input type="submit" value="Enregistrer les modifications" class="btn btn-small btn-default" />
    </div>
</form>

<script>

 $(function () {
     $('form[name="editAdherent"]').validate();

     $('form[name="editAdherent"]').on('submit', function () {
         return $(this).valid();
     });
 });
 
</script>
