@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

<form asp-action="CreateSympathizer" enctype="multipart/form-data" name="editSympathizer">
     <div class="modal-body">
         @Html.Partial("EditSympathizer")
    </div>
    <div class="modal-footer">
        <input type="submit" id="editSympathizer" value="Créer le nouveau sympathisant" class="btn btn-small btn-default" />
    </div>
</form>

<script>

 $(function () {
     $('form[name="editSympathizer"]').validate();

     $('form[name="editSympathizer"]').on('submit', function () {
         return $(this).valid();
     });
 });
 
</script>
