@model Stolons.ViewModels.Token.CreditTokenViewModel


<div id="dialog-confirm"></div>


<form asp-action="CreditToken">
    <div class="modal-body">
        <div class="form-horizontal">
            <input asp-for="AdherentStolon.Id" hidden="hidden" />
            <div class="form-group">
                <label asp-for="CreditedToken" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreditedToken" class="form-control" id="creditedToken" min="0" max="1000" />
                    <span asp-validation-for="CreditedToken" class="text-danger" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input id="creditButton" class="credit btn btn-small btn-default" type="submit" value="Créditer" />
    </div>    
    <div id="creditModal" class="modal fade"></div>
</form>

<script id="creditModalTemplate" type="text/template">
    <div class="modals">
        <div class="modal-dialog" style="width: 250px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Valider le paiement de <%= amount %> € et créditer de <%= amount %> stols</p>
                    <input class="credit btn btn-small btn-default" type="submit" id="validPaiement" value="Valider" />
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    CreditModalView = Backbone.View.extend({
        el: '#creditModal',
        template: _.template($("#creditModalTemplate").html()),
        open: function () {
            this.render();
        },
        render: function () {
            this.$el.html(this.template({ amount: $('input#creditedToken').val() }));
            this.$el.modal('show');
        }
    });

    $( function() {
        var creditModalView = new CreditModalView();
        $('input#creditButton').click(function () {
            creditModalView.open();
            return false;
        });
    } );
</script>