@model Stolons.ViewModels.Adherents.AdherentViewModel

<div class="form-horizontal">
    <input asp-for="Adherent.Id" hidden="hidden" />
    <input asp-for="Stolon.Id" hidden="hidden" />
    <input asp-for="OriginalEmail" hidden="hidden" />
    <input asp-for="Edition" hidden="hidden" />
    <input asp-for="Adherent.ExploitationPicuresSerialized" hidden="hidden" />

    @if (Model.Edition == Stolons.ViewModels.Adherents.AdherentEdition.Consumer)
    {
        <input asp-for="Adherent.CompanyName" hidden="hidden" />
            <input asp-for="Adherent.Area" hidden="hidden" />
            <input asp-for="Adherent.ExploitationPicuresSerialized" hidden="hidden" />
            <input asp-for="Adherent.Production" hidden="hidden" />
            <input asp-for="Adherent.OpenText" hidden="hidden" />
            <input asp-for="Adherent.StartDate" hidden="hidden" />
            <input asp-for="Adherent.WebSiteLink" hidden="hidden" />
            <input asp-for="Adherent.Latitude" hidden="hidden" />
            <input asp-for="Adherent.Longitude" hidden="hidden" />
    }
    else
    {
        <h3>Informations adhérent</h3>
    }

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Adherent.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.Name" class="form-control" />
            <span asp-validation-for="Adherent.Name" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.Surname" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.Surname" class="form-control" />
            <span asp-validation-for="Adherent.Surname" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.Email" class="form-control" />
            <span asp-validation-for="Adherent.Email" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.AvatarFileName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="file" accept="image/*" name="uploadFile" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.PhoneNumber" class="form-control" />
            <span asp-validation-for="Adherent.PhoneNumber" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.Address" class="form-control" />
            <span asp-validation-for="Adherent.Address" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.PostCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.PostCode" class="form-control" />
            <span asp-validation-for="Adherent.PostCode" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.City" class="form-control" />
            <span asp-validation-for="Adherent.City" class="text-danger" />
        </div>
    </div>

    <h3>Subscription aux mails : </h3>
    <div class="form-group">
        <label asp-for="Adherent.ReceivedInformationsEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.ReceivedInformationsEmail" class="form-control" />
            <span asp-validation-for="Adherent.ReceivedInformationsEmail" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.ReceivedNewsByEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.ReceivedNewsByEmail" class="form-control" />
            <span asp-validation-for="Adherent.ReceivedNewsByEmail" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Adherent.ReceivedProductListByEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.ReceivedProductListByEmail" class="form-control" />
            <span asp-validation-for="Adherent.ReceivedProductListByEmail" class="text-danger" />
        </div>
    </div>
    <!--
    <div class="form-group">
        <label asp-for="Adherent.ReceivedGoodPlanByEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Adherent.ReceivedGoodPlanByEmail" class="form-control" />
            <span asp-validation-for="Adherent.ReceivedGoodPlanByEmail" class="text-danger" />
        </div>
    </div>
    -->

    @if (Model.Edition == Stolons.ViewModels.Adherents.AdherentEdition.Producer)
    {
        <h3>Informations producteur</h3>

        <div class="form-group">
            <label asp-for="Adherent.CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.CompanyName" class="form-control" />
                <span asp-validation-for="Adherent.CompanyName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adherent.Area" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.Area" class="form-control" data-val-number="La superficie doit être un nombre." />
                <span asp-validation-for="Adherent.Area" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adherent.Production" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.Production" class="form-control" />
                <span asp-validation-for="Adherent.Production" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adherent.OpenText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.OpenText" class="form-control" />
                <span asp-validation-for="Adherent.OpenText" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adherent.StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.StartDate" class="form-control" data-val-number="L'année doit être correcte." />
                <span asp-validation-for="Adherent.StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adherent.WebSiteLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.WebSiteLink" class="form-control" />
                <span asp-validation-for="Adherent.WebSiteLink" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Adherent.Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.Latitude" class="form-control" data-val-number="La latitude doit être un nombre." />
                <span asp-validation-for="Adherent.Latitude" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Adherent.Longitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adherent.Longitude" class="form-control" data-val-number="La longitude doit être un nombre." />
                <span asp-validation-for="Adherent.Longitude" class="text-danger" />
            </div>
        </div>
    }
</div>
