@using Stolons.ViewModels.Adherents
@model AdherentsViewModel

<h1>Adhérents de @Model.Stolon.Label</h1>

<!--Il n'y a pas d'administrateur à ce Stolon-->
@if (!Model.AdherentsStolonViewModel.AdherentsStolon.Any(x => x.Role == Role.Admin))
{
    <p class="isa_warning">Aucun administrateur gére @Model.Stolon.Label</p>
    @if (Model.Stolon.StolonType == Stolon.OrganisationType.Association)
    {

    }
}


@{
    Html.RenderPartial("Adherents", Model);
}