@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="bannerAccount">

        @{
            if (!Model.User.Cotisation)
            {
                <div id="warning-container">
                    <img id="warning" src="/images/warning.png" />
                    <div id="warning-informations"> 
                        Cotisation non payé, penser à la régler à la prochaine commande
                    </div>
                </div>
            }
        }
        <div id="bogues">@Model.User.Token 𝞫</div>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="bannerAvatar">
                <img class="avatar" src="/@Model.User.Avatar" />
            </div>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Manage" asp-action="Index" title="Manage">Mon compte</a></li>
            <li>
                <a href="#" onclick="document.forms['logoutForm'].submit();return false;">Déconnexion</a>
                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>                
            </li>
        </ul>
    </div>
}
else
{
   <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
}
<script>
    $( function() {
        $('img#warning').hover(function () {
            $('div#warning-informations').show();
            $(this).mouseout(function () {
                $('div#warning-informations').fadeOut('fast');
            });
        });
    } );
</script>