@using System.Security.Claims
@using Stolons.Services
@using Stolons.ViewModels.Mails

@model MailMessage

<h2>Envoyer un courriel</h2>
Seul les adhérents ayant coché la case "Recevoir les informations importantes" reçevront le courriel.

<form asp-action="Preview" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aperçu" class="form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script>tinymce.init({ selector: 'textarea', language: 'fr_FR', menubar: false });</script>
}
