@model Stolons.Models.ApplicationConfig


<h2>Modification de la configuration du site</h2>

<form asp-action="Edit">
    <div class="form-horizontal">

        <h4>Informations</h4>
        <div class="form-group">
            <label asp-for="StolonsLabel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StolonsLabel" class="form-control" />
                <span asp-validation-for="StolonsLabel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactMailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input rows="2" asp-for="ContactMailAddress" class="form-control" />
                <span asp-validation-for="ContactMailAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactPhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactPhoneNumber" class="form-control" />
                <span asp-validation-for="ContactPhoneNumber" class="text-danger" />
            </div>
        </div>
        <h4>PDF</h4>
        <div class="form-group">
            <label asp-for="ChroniumFullPath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChroniumFullPath" class="form-control"  />
                <span asp-validation-for="ChroniumFullPath" class="text-danger" />
            </div>
            <a asp-action="TestChroniumPath">Tester le chemin</a>
        </div>
        <h4>Courriels</h4>
        <div class="form-group">
            <label asp-for="MailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailAddress" class="form-control" />
		<span asp-validation-for="MailAddress" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MailPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailPassword" class="form-control" />
                <span asp-validation-for="MailPassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailPort" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailPort" class="form-control" min="0" max="1000" />
                <span asp-validation-for="MailPort" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailSmtp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailSmtp" class="form-control" />
                <span asp-validation-for="MailSmtp" class="text-danger" />
            </div>
        </div>

        <h4>Maintenance</h4>
        <div class="form-group">
            <label asp-for="IsInMaintenance" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsInMaintenance" class="form-control" min="0" max="1000" />
                <span asp-validation-for="IsInMaintenance" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceMessage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MaintenanceMessage" class="form-control" min="0" max="1000"></textarea>
                <span asp-validation-for="MaintenanceMessage" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauvegarder les modifications" class="btn btn-small btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-small btn-default">Annuler les modifications</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>tinymce.init({ selector: 'textarea', language: 'fr_FR', menubar: false });</script>
}
